
/* line 286 : /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/assets/stylus/modules/vector_icons.styl */

/* line 1 : /Users/dominikrodler/github/laterpay-wordpress-plugin/node_modules/gulp-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 2 : /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/assets/stylus/modules/vector_icons.styl */
@font-face {
  font-family: laterpay-wordpress-icons;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/laterpay-wordpress-icons_v098.eot");
  src: url("../fonts/laterpay-wordpress-icons_v098.eot?#iefix") format('embedded-opentype'), url("../fonts/laterpay-wordpress-icons_v098.woff") format('woff'), url("../fonts/laterpay-wordpress-icons_v098.ttf") format('truetype'), url("../fonts/laterpay-wordpress-icons_v098.svg#laterpay-wordpress-icons") format('svg');
}

/* line 15 : /Users/dominikrodler/github/laterpay-wordpress-plugin/laterpay/assets/stylus/modules/vector_icons.styl */
[data-icon]:before,
.lp_vector-icon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  content: attr(data-icon);
  font-family: laterpay-wordpress-icons !important;
  font-style: normal !important;
  font-variant: normal !important;
  font-weight: normal !important;
  line-height: 1;
  padding-right: 0.25em;
  position: relative;
  speak: none;
  text-transform: none !important;
  top: 0.1em;
}
