// LaterPay API credentials form
// Component to manage API credentials for LaterPay


.lp_api-credentials {
    float: left;
    position: relative;
    width: 50%;

    // render icons from icon font in pseudo elements
    &:before {
        color: $border;
        position: absolute;
        z-index: $zindex--recessed;
    }

    // micro-adjust size and position of test mode icon
    &.lp_api-credentials--sandbox:before {
        font-size: 90px;
        left: $fs--2;
        top: 62px;
    }

    // micro-adjust size and position of live mode icon
    &.lp_api-credentials--live {

        &:before {
            font-size: 75px;
            left: $fs;
            top: 76px;
        }

        // highlight the live mode icon in live mode
        &.lp_is-live:before {
            color: $laterpay-brand;
        }
    }


    .lp_api-credentials__fieldset {
        @extend %fieldset;

        // set equal height so that additional button in live mode fieldset does not lead to different heights
        min-height: round(12.5 * $fs);
    }

    .lp_api-credentials__legend {
        @extend %legend;
    }

    .lp_api-credentials__hint {
        @extend %hint-text;
    }


    .lp_api-credentials__row {
        @extend %clearfix;

        // adjust vertical position relative to large icon
        margin: $fs--125 0 (- $fs);
    }

    // create room for the large icon that is rendered inside the fieldset
    .lp_api-credentials__row__spacer {
        float: left;
        width: (6 * $fs);
    }

    .lp_api-credentials__row__form-wrapper {
        float: left;

        // add some top spacing to the first row
        &:first-of-type {
            margin-top: $fs--2;
        }

        // Chrome browser hack
        &:first-of-type:not(*:root) {
            display: inline;
        }
    }

    .lp_api-credentials__input {
        @extend %input;

        padding-left: round($fs * 2.8);
        width: ($fs * 22);
    }
}


// Responsiveness ------------------------------------------------------------------------------------------------------
@media (max-width:1050px) {
    .lp_api-credentials {

        &.lp_api-credentials--sandbox:before {
            font-size: 75px;
            left: 24px;
            top: 61px;
        }

        &.lp_api-credentials--live:before {
            font-size: 60px;
            left: 14px;
            top: 79px;
        }

        .lp_api-credentials__row__spacer {
            width: 70px;
        }

        .lp_api-credentials__input {
            width: 290px;
        }
    }
}
