// LaterPay API credentials form
// Component to manage API credentials for LaterPay


.lp_api-credentials {
    float: left;
    position: relative;
    width: 50%;

    // render icons from icon font in pseudo elements
    &:before {
        color: $border;
        position: absolute;
        z-index: $zindex--recessed;
    }

    // micro-adjust size and position of test mode icon
    &.lp_api-credentials--sandbox:before {
        font-size: ($fs * 6.5);
        left: $fs--2;
        top: ($fs * 5.5);
    }

    // micro-adjust size and position of live mode icon
    &.lp_api-credentials--live {

        &:before {
            font-size: ($fs * 5.5);
            left: $fs;
            top: ($fs * 6.5);
        }

        // highlight the live mode icon in live mode
        &.lp_is-live:before {
            color: $laterpay-brand;
        }
    }

    .lp_api-credentials__fieldset {
        @extend %fieldset;

        // set equal height so that additional button in live mode fieldset does not lead to different heights
        min-height: round($fs * 14);
    }

    .lp_api-credentials__legend {
        @extend %legend;
    }

    .lp_api-credentials__hint {
        @extend %hint-text;
    }

    .lp_api-credentials__list {
        @extend %default-list;

        margin: $fs--2 0 0 ($fs * 6);
    }

    .lp_api-credentials__list-item {
        @extend %default-list;

        margin: 0 0 $fs--2;
    }

    .lp_api-credentials__list-item:last-child {
        margin-bottom: 0;
    }

    .lp_api-credentials__input {
        @extend %input;

        padding-left: round($fs * 2.8);
        width: ($fs * 22);
    }
}


// Responsiveness ------------------------------------------------------------------------------------------------------
@media (max-width:1050px) {
    .lp_api-credentials {

        &.lp_api-credentials--sandbox:before {
            font-size: ($fs * 5.5);
            top: round($fs * 5.7);
        }

        &.lp_api-credentials--live:before {
            font-size: round($fs * 4.25);
            left: $fs--15;
            top: round($fs * 6.75);
        }

        .lp_api-credentials__input {
            width: round($fs * 20.7);
        }
    }
}
