
// debugger pane

// debugger pane header with LaterPay vector logo ----------------------------------------------------------------------
.lp_debugger,
.lp_debugger-header__title {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
}

.lp_debugger {
    background: $background--darker;
    bottom: 0;
    box-shadow: -1px 1px 6px hsla(0, 0%, 0%, 0.34);
    font-size: $fs;
    height: ($fs * 35);
    line-height: 1.3;
    overflow-y: hidden;
    position: fixed;
    transition: 0.25s ease-in-out;
    width: 100%;
    z-index: $zindex--topmost-1;

    &.lp_is-hidden {
        bottom: -($fs * 32.5);
    }

    // reset link styles
    a {
        box-shadow: none;
        outline: 0 none;
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
            outline: 0 none;
            text-decoration: none;
        }
    }
}

.lp_debugger-header {
    background: darken($background--darker, 13%);
    cursor: pointer;
    height: round($fs * 2.5);

    .lp_debugger-header__title {
        @extend %default-h2;
        display: inline-block;
        font-weight: normal;
        line-height: 1;
        margin: $fs--05 0 $fs--05 ($fs * 8.5);

        // LaterPay logo rendered from icon font
        &:before {
            display: block;
            font-size: ($fs * 7.5);
            height: 0;
            left: -($fs * 7.75);
            line-height: 0;
            position: relative;
            top: 8px;
        }
    }

}

.lp_debugger-header__text {
    line-height: 1;
    padding: $fs--075 $fs--05;
}

.lp_debugger__close-link {
    color: $clickable;
    font-weight: bold;
    height: $fs--2;
    line-height: 2;
    margin: $fs--025 $fs--025 0 0;
    text-align: center;
    transform: rotate(90deg);
    transition: transform 0.2s;
    width: $fs--2;

    &:before {
        line-height: 2;
        padding: 0 0 0 ($fs * 0.1);
        top: auto;
    }

    &:hover {
        color: $clickable--highlight;
    }

    .lp_debugger.lp_is-hidden & {
        transform: rotate(-90deg);
    }
}


// debugger pane tabs --------------------------------------------------------------------------------------------------
.lp_debugger-tabs {
    border-bottom: 1px solid $border--darker;
    margin: $fs--075 $fs--075 0;
    position: relative;
    z-index: $zindex;
}

.lp_debugger-tabs__link {
    color: $clickable;
    display: block;
    padding: $fs--05 $fs;

    &:hover {
        color: $clickable--highlight;

        .lp_debugger-tabs__count {
            background-color: $clickable--highlight;
        }
    }
}

.lp_debugger-tabs__count {
    background: $clickable;
    border-radius: $border-radius;
    color: $text--inverse;
    display: inline-block;
    margin-left: $fs--05;
    min-width: $fs--075;
    padding: 1px 5px;
    text-align: center;
}

.lp_debugger-tabs__item {
    @extend %default-list;
    border: 1px solid transparent;
    border-radius: $border-radius $border-radius 0 0;
    float: left;
    height: ($fs * 2.5);
    margin: 0 2px -1px 0;

    &:hover {
        border-color: $border--darker $border--darker darken($background, 5%);
    }

    &.lp_is-selected {
        border-color: $border--darker $border--darker darken($background, 5%);

        .lp_debugger-tabs__link,
        &:hover .lp_debugger-tabs__link {
            color: $text;
            cursor: default;
        }

        .lp_debugger-tabs__count,
        &:hover .lp_debugger-tabs__count {
            background-color: lighten($text, 20%);
        }
    }
}


// debugging messages --------------------------------------------------------------------------------------------------
.lp_debugger-content-list {
    height: ($fs * 29);
    margin: 0 $fs--075 $fs;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;

    .lp_debugger-content-list,
    .lp_debugger-content {
        margin: 0;
        padding: 0;
    }

    .lp_debugger-content {
        list-style: none outside none;

        &.lp_is-hidden {
            display: none;
        }
    }

    .lp_debugger-content li {
        border-bottom: 1px solid darken($border, 3%);
    }

    .lp_debugger__log-level:before {
        font-size: $fs--175;
        height: 0;
        line-height: 0;
        margin-right: $fs--025;
        position: relative;
        top: ($fs * 0.23);
    }

    // infos
    .lp_debugger__log-level--100:before
    .lp_debugger__log-level--200:before
    .lp_debugger__log-level--250:before {
        color: $text--lighter;
        content: 'm';
    }

    // warnings
    .lp_debugger__log-level--300:before {
        color: adjust_hue(saturate(lighten($text, 17%), 100%), 39);
        content: 'n';
    }

    // errors
    .lp_debugger__log-level--400:before
    .lp_debugger__log-level--500:before
    .lp_debugger__log-level--550:before
    .lp_debugger__log-level--600:before {
        color: adjust_hue(saturate(lighten($text, 17%), 100%), 6);
        content: 'o';
    }

    a {
        color: $clickable;
        padding: $fs--05 0 $fs--05 $fs--05;
    }

    &:hover a,
    a:hover{
        color: $clickable--highlight;

    }

    code {
        font-size: $fs;
        line-height: 1.3;
    }
}

.lp_debugger-content__table-title {
    cursor: pointer;

    .lp_debugger-content__table-th,
    .lp_debugger-content__table-td {
        transition: background 0.25s;
    }

    &:hover .lp_debugger-content__table-th,
    &:hover .lp_debugger-content__table-td {
        background: $background--highlight;
    }

    .lp_debugger-content__table-td:last-child {
        color: $text--lighter;
        max-width: ($fs * 10);
        text-align: right;
    }
}

.lp_debugger-content__table {
    margin: 0;
    width: 100%;

    &.lp_is-hidden {

        .lp_debugger-content__table-body .lp_debugger-content__table-th,
        .lp_debugger-content__table-body .lp_debugger-content__table-td {
            padding: 0 $fs--05 $fs--025;
        }

        .lp_debugger-content__table-body .lp_debugger-content__table-th {
            padding-left: ($fs * 2.75);
            width: ($fs * 12);
        }
    }
}

.lp_debugger-content__table,
.lp_debugger-content__table-th,
.lp_debugger-content__table-td {
    border: 0 none;
    border-collapse: collapse;
}

.lp_debugger-content__table-th,
.lp_debugger-content__table-td {
    padding: $fs--05;
    text-align: left;
    vertical-align: top;
}

.lp_debugger-content__table-th {
    color: $text--lighter;
    font-weight: normal;
    max-width: ($fs * 12);
    overflow: hidden;
    padding-left: $fs--05;
    text-overflow: ellipsis;
    width: ($fs * 12);
}


// admin bar menu for toggling debugger pane ---------------------------------------------------------------------------
.ab-item { // WordPress selector
    cursor: pointer;
}
