// post statistics pane

// statistics pane header with LaterPay vector logo --------------------------------------------------------------------
.lp_post-statistics,
.lp_post-statistics__title {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.lp_post-statistics {
    background: $background--darker;
    border-radius: 0 0 0 $border-radius;
    box-shadow: -1px 1px 6px hsla(0, 0%, 0%, 0.34);
    color: $text;
    font-size: $fs;
    line-height: 1.5;
    padding: 7px 5px 0 0;
    position: fixed;
    right: -5px;
    top: ($fs * 8);
    transition: 0.25s ease-in-out;
    width: ($fs * 25);
    z-index: $zindex--overlayed-1;

    // remove dotted outline and box shadows from .lp_post-statistics__visibility-toggle link
    .lp_post-statistics__visibility-toggle,
    &:focus,
    &:active,
    &:visited {
        box-shadow: none;
        outline: 0 none;
    }

    &.lp_is-hidden {
        right: -($fs * 26); // move off the canvas (width of pane + 1 width unit)
    }
}

.lp_post-statistics__title {
    font-size: $fs--125;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    margin: $fs--05 0 $fs ($fs * 9);

    /**
     * LaterPay logo
     * 1. Use px values instead of em, because some browsers (e.g. IE10) don't render correct sizes
     */
    &:before {
        display: block;
        font-size: round($fs * 7.5);
        height: 0;
        left: -($fs * 8); /* 1 */
        line-height: 0;
        position: relative;
        top: 8px; /* 1 */
    }
}


// statistics pane visibility toggle -----------------------------------------------------------------------------------
.lp_post-statistics__visibility-toggle {
    background: $background--darker;
    border-radius: $border-radius 0 0 $border-radius;
    color: $clickable;
    height: $fs--3;
    left: 0;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 0;
    transition: 0.25s ease-in-out;
    width: $fs--3;

    &:before {
        font-size: $fs--15;
        line-height: $fs--3;
        @include opacity(0);
        padding-left: $fs--025;
        position: relative;
        transition: 0.1s ease-in-out;
    }

    &:hover {
        color: $clickable--highlight;
    }

    // reveal toggle when the statistics pane is hovered
    .lp_post-statistics:hover & {
        left: -$fs--3;

        &:before {
            @include opacity(1);
            transition: 0.25s ease-in-out 0.1s;
        }

        &:hover {
            text-decoration: none;
        }
    }

    // hidden statistics pane
    .lp_post-statistics.lp_is-hidden & {
        box-shadow: -1px 1px 6px hsla(0, 0%, 0%, 0.34);
        left: -($fs * 4);
        text-align: left;
        width: ($fs * 4);

        /*
         * Show LaterPay logo instead of toggle icon in hidden state
         *
         * 1. Ugly alignment fix for an ill-balanced logo
         */
        &:before {
            content: 'b';
            font-size: $fs--3;
            line-height: $fs--3;
            @include opacity(1);
            padding-left: 1px; /* 1 */
            top: 1px; /* 1 */
        }
    }
}


// statistics pane body with actual post statistics --------------------------------------------------------------------
.lp_post-statistics__list,
.lp_post-statistics__item {
    @extend %default-list;
    text-align: center;
}

.lp_post-statistics__item {
    display: inline-block;
}

.lp_post-statistics__separator,
.lp_post-statistics__details {
    margin: $fs--05;

    .lp_post-statistics__item {

        // adjust width and add a margin to create a visual gap
        &:first-child {
            margin-right: 2%;
            width: 58%;
        }

        &:last-child {
            margin-left: 2%;
            width: 38%;
        }
    }
}


// total revenue and sales of the post ---------------------------------------------------------------------------------
.lp_post-statistics__totals {
    background: $background--lightest;

    .lp_post-statistics__item {
        width: 50%;
    }

    .lp_kpi {
        // remove space after elements created by floating
        > div {
            float: none;
        }

        // bigger KPI values in totals row
        big {
            font-size: $fs--2;
        }
    }
}


// separator between totals and details --------------------------------------------------------------------------------
.lp_post-statistics__separator {

    .lp_post-statistics__text {
        background: $background--darker;
        color: $text--lighter;
        font-size: $fs--075;
        padding: 0 $fs--05;
        position: relative;
        z-index: $zindex--overlayed-3;
    }

    .lp_post-statistics__separator-line {
        background: $border--darker;
        border: 0 none;
        height: 1px;
        margin: -$fs--075 0 0;
    }
}


// details for various KPI over the last 30 days and for the current day -----------------------------------------------
.lp_post-statistics__details {

    .lp_post-statistics__item {
        vertical-align: top;
    }

    .lp_sparkline-bar,
    .lp_sparkline-bar__background {
        color: transparent;
    }

    svg.peity {
        border-bottom: 1px solid $border--darker;
        padding: 0 $fs--025;
        position: relative;
        z-index: $zindex--elevated-2;
    }

    /* light grey background bars behind sparkline with percentage data
     *
     * 1. Hack to position bar properly
     */
    .lp_sparkline-bar__background + svg.peity {
        border: 0 none;
        left: 27px; /* 1 */
        margin-top: -49px; /* 1 */
        position: absolute;
        z-index: $zindex--elevated-1;
    }

    // fix right margin
    .lp_kpi > div {
        margin-right: 0;
    }
}


// footer with toggle for previewing post as visitor or as admin -------------------------------------------------------
.lp_post-statistics .lp_post-statistics__plugin-preview-mode {
    background-color: hsl(47, 100%, 50%);
    border-radius: 0 0 0 $border-radius;
    padding: $fs $fs--075 $fs--075;
}

// post statistic empty states --------------------------------------------------------------------------------------------------------
.lp_statistics-empty {
  color: $text--lighter;
  margin: $fs--4 auto;
  padding: $fs $fs--15;
  width: ($fs * 21);
  text-align: center;
  h2 {
    color: $text--lighter;
    font-size: $fs--125;
    font-weight: bold;
    margin: $fs--05 0 $fs;
    line-height: $fs--125;
    font-family: "Open Sans",sans-serif;
  }

  p:not(:last-child) {
    margin: 0 0 $fs--025;
  }

  p:last-child {
    margin: 0;
  }
  a {
    color: #0074A2;
  }
}
