// post statistics pane

// statistics pane header with LaterPay vector logo --------------------------------------------------------------------
.lp_post-statistics,
.lp_post-statistics__title {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.lp_post-statistics {
    background: $background--darker;
    border-radius: 0 0 0 $border-radius;
    box-shadow: -1px 1px 6px hsla(0, 0%, 0%, 0.34);
    color: $text;
    font-size: $fs;
    line-height: 1.5;
    padding: 7px 5px 0 0;
    position: fixed;
    right: -5px;
    top: ($fs * 8);
    transition: 0.25s ease-in-out;
    width: 333px;
    z-index: $zindex--overlayed-1;

    &:hover {
        // reveal link for hiding the statistics pane when it is hovered
        .lp_post-statistics__visibility-toggle {
            left: -($fs * 3);

            &:before {
                @include opacity(1);
                transition: 0.25s ease-in-out 0.1s;
            }

            &:hover {
                text-decoration: none;
            }
        }
    }

    // remove dotted outline and box shadows from .lp_post-statistics__visibility-toggle link
    .lp_post-statistics__visibility-toggle,
    &:focus,
    &:active,
    &:visited {
        box-shadow: none;
        outline: 0 none;
    }
}

.lp_post-statistics__title {
    font-size: $fs--125;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    margin: ($fs * 0.4) 0 ($fs * 0.8) ($fs * 6.75);

    /**
     * LaterPay logo
     * 1. Use px values instead of em, because some browsers (e.g. IE10) don't render correct sizes
     */
    &:before {
        display: block;
        font-size: ($fs * 6);
        height: 0;
        left: -($fs * 6.25); /* 1 */
        line-height: 0;
        position: relative;
        top: 8px; /* 1 */
    }
}

// toggle visibility of statistics pane --------------------------------------------------------------------------------
.lp_post-statistics__visibility-toggle {
    background: $background--darker;
    border-radius: $border-radius 0 0 $border-radius;
    color: $clickable;
    height: $fs * 3;
    left: 0;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 0;
    transition: 0.25s ease-in-out;
    width: $fs * 3;

    &:before {
        font-size: 25px;
        line-height: 42px;
        @include opacity(0);
        padding-left: $fs--025;
        position: relative;
        transition: 0.1s ease-in-out;
    }

    &:hover {
        color: $clickable--highlight;
    }
}

// hidden statistics pane
.lp_post-statistics.lp_is-hidden {
    right: -345px;

    .lp_post-statistics__visibility-toggle {
        box-shadow: -1px 1px 6px hsla(0, 0%, 0%, 0.34);
        left: -55px;
        text-align: left;
        width: 54px;

        &:before {
            content: 'b';
            font-size: $fs * 3;
            line-height: $fs * 3;
            padding-left: 0;
            @include opacity(1);
            top: 2px;
        }
    }
}


// statistics pane body with actual post statistics --------------------------------------------------------------------
.lp_post-statistics {

// FIXME: this whole block looks really wrong. Very repetitive, not componentized at all :-(

    // values of key performance indicators (KPI)
    .lp_post-statistics__value {
        color: $text;
        font-size: $fs--2;
        line-height: 1;

        .lp_post-statistics__text {
            display: inline;
            font-size: ($fs * 0.375);
            padding-left: 2px;
        }
    }

    .lp_post-statistics__text {
        display: block;
        font-size: $fs--075;
        line-height: 1;
    }

    .lp_post-statistics__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    // details column, showing data for last 30 days
    .lp_post-statistics__details {
        margin: 0 0 0 $fs--075;

        .lp_post-statistics__item {
            display: inline-block;
            font-size: $fs;
            margin: $fs 0 0;
            padding: $fs--05 0 0;
            text-align: right;
            width: 37%;

            &:first-child {
                margin-left: 0;
                width: 59%;
            }

            .lp_sparkline-bar,
            .lp_sparkline-bar__background {
                color: transparent;
            }

            svg.peity {
                border-bottom: 1px solid darken($text--lighter, 7%);
                padding: 0 $fs--025;
                position: relative;
                z-index: $zindex--elevated-2;
            }

            .lp_sparkline-bar__background + svg.peity {
                border: 0 none;
                left: ($fs * 0.92);
                position: absolute;
                z-index: $zindex--elevated-1;
            }

            .lp_post-statistics__value {
                font-size: $fs--15;

                .lp_post-statistics__text {
                    font-size: $fs--05;
                }
            }
        }
    }

    .lp_post-statistics__text {
        color: darken($text--lighter, 7%);
    }
}


// totals column, showing current day's data
.lp_post-statistics__totals {
    background: $background--lightest;

    .lp_post-statistics__item {
        display: inline-block;
        font-size: $fs;
        margin: 0;
        padding: ($fs * 0.65) 0 $fs--075;
        text-align: right;
        width: 44%;

        &:first-child {
            width: 52%;
        }
    }
}

// separator between different KPI
.lp_post-statistics__separator {
    margin: $fs 0 -$fs--2 $fs--075;

    .lp_post-statistics__item {
        display: inline-block;
        font-size: $fs;
        margin: 0 0 0 2%;
        padding: 0;
        text-align: center;
        width: 34%;

        &:first-child {
            margin-left: 0;
            width: 60%;
        }
    }

    .lp_post-statistics__text {
        background: $background--darker;
        display: inline;
        font-size: $fs--075;
        margin: 0;
        padding: 0 $fs--05;
        position: relative;
        z-index: $zindex--overlayed-3;
    }


    .lp_post-statistics__separator-line {
        background: lighten($text--lighter, 10%) none;
        border: 0 none;
        height: 1px;
        margin: $fs 0 $fs--05;
        position: relative;
        top: -($fs * 1.66);   // TODO: this is a magic number that should not be required
        z-index: $zindex--overlayed-2;
    }
}

// statistics pane footer with toggle for previewing post as visitor or as admin ---------------------------------------
.lp_post-statistics .lp_post-statistics__plugin-preview-mode {
    background-color: adjust_hue(saturate(lighten($text, 17%), 100%), 47);
    border-radius: 0 0 0 $border-radius;
    margin: $fs--05 0 0;
    padding: $fs $fs--075 ($fs * 0.66);
}


// Chrome browser hack -------------------------------------------------------------------------------------------------
@media screen and (-webkit-min-device-pixel-ratio:0) {
// FIXME: this is so completely and utterly wrong :-( :-(
    .lp_post-statistics .lp_post-statistics__details .lp_sparkline-bar__background + svg.peity {
        margin-top: -48px;
    }
}
