// LaterPay purchase button

// rendered as plain link ----------------------------------------------------------------------------------------------
.lp_purchase-link {
    border: none !important;
    display: block !important;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-size: $fs !important;
    font-style: normal !important;
    font-weight: normal !important;
    line-height: 1.3 !important;
    margin: $fs 0 0 !important;
    position: relative !important;
    text-decoration: none !important;
    z-index: $zindex--elevated-1 !important;
    position: relative !important;
    padding-left: ($fs--3 - 10) !important;

    /**
     * LaterPay logo (rendered in pseudo element from icon font)
     *
     * 1. Nullify line-height to avoid icon overlapping other elements
     */
    &:before {
        font-size: $fs--2 !important;
        line-height: 0 !important; /* 1 */
        margin: 0 (-$fs--025) 0 0 !important;
        position: absolute !important;
        top: 9px !important;
        left: 0 !important;
    }
}

// currency ISO code
.lp_purchase-link__currency {
    font-size: 0.5em !important;
    padding: 0 0 0 1ch !important;
    position: relative !important;
    text-decoration: none !important;
    vertical-align: text-top !important;
}


// rendered as button --------------------------------------------------------------------------------------------------
.lp_button,
.lp_purchase-button {
    @include linear-gradient($laterpay-brand, 0%, $laterpay-brand--darker, 100%, $start, $end);
    border: 1px solid $laterpay-brand--darker !important;
    border-color: darken($laterpay-brand--darker, 13%) darken($laterpay-brand--darker, 5%) !important;
    border-radius: 4px !important;
    border-width: 0 1px 2px 0 !important;
    color: $text--inverse !important;
    cursor: pointer !important;
    float: right !important;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-size: $fs--2 !important;
    font-style: normal !important;
    font-weight: normal !important;
    line-height: 1.3 !important;
    margin: 0 !important;
    padding: $fs--025 $fs--025 0 $fs--4 !important;
    text-decoration: none !important;
    text-shadow: 0 -1px 0 darken($laterpay-brand--darker, 13%) !important;
    white-space: nowrap !important;
    position: relative !important;

    /**
     * LaterPay logo (rendered in pseudo element from icon font)
     *
     * 1. Set font-size in pixels, because IE gets confused with em here
     * 2. Nullify line-height to avoid icon overlapping other elements
     */
    &:before {
        font-size: 49px !important; /* 1 */
        line-height: .5 !important; /* 2 */
        margin: 0 (-$fs--05) 0 0 !important;
        position: absolute !important;
        width: (round($fs * 4.35));
        left: 0;
        top: $fs--08;

    }

    &:hover,
    &:focus,
    &:active {
        @include linear-gradient($laterpay-brand--highlight, 0%, $laterpay-brand, 100%, $start, $end);
        color: $text--inverse !important;
        text-decoration: none !important;
    }

    &:focus,
    &:active {
        border-top-color: transparent !important;
        border-width: 2px 1px 0 0 !important;

        &:before {
            top: ($fs--08 + 1);
        }
    }
}

// wrapper used to set the purchase button apart from the post content when positioned automatically
.lp_purchase-button-wrapper {
    @extend %clearfix;

    margin: $fs 0 $fs--2 !important;
}

.lp_purchase-button-wrapper > div:after {
    content: '';
    clear: both;
    display: block;
}

.lp_sis_notification {
    font-size: $fs;
    color: #50c371;
    float: right;
    text-decoration: underline;
    margin-right: $fs;
    border-bottom: none !important;
}

.lp_sis_notification :hover {
    text-decoration: none;
}


// Responsiveness ------------------------------------------------------------------------------------------------------
@media (max-width:567px) {
    .lp_button {
        margin-left: ($fs * 2.75) !important;
        margin-top: $fs--05 !important;
    }
}
