// add a background to the wrapper so that the transparent input works on both light and dark themes
.lp_redeem-code {
    background: $background--lightest;
    border-radius: ($border-radius * 2);
    margin: $fs 0;
}


// redeem gift code widget ---------------------------------------------------------------------------------------------
.lp_redeem-code,
.lp_redeem-code__value {
    height: round($fs * 3.75) !important; /* 6 - TODO: this is a magic number that should not be required */
    position: relative !important;
    width: ($fs * 21) !important;
}


/**
 * input for gift code
 */
.lp_redeem-code__value {
    background: transparent !important;
    border: 2px solid $border !important;
    border-radius: ($border-radius * 2) !important;
    box-sizing: border-box;
    box-shadow: none !important; /* 1 */
    bottom: 0 !important;
    color: $text !important;
    font-family: Arial, sans-serif !important;
    font-size: $fs--15 !important;
    height: round($fs * 3.75) !important;
    outline: none !important;
    padding: $fs $fs $fs--075 ($fs * 6) !important;
    position: absolute !important;
    top: 0 !important;
    width: ($fs * 21) !important;
    z-index: $zindex--elevated-1 !important;

    &:hover,
    &:focus,
    &:active {
        -moz-appearance: none !important;
        -webkit-appearance: none !important;
        border-color: $clickable--highlight !important;
    }

    &.lp_is-hidden {
        /* 1 */
        background: transparent !important;
        border: 2px solid transparent !important;
        color: transparent !important;

        &:hover {
            border-color: transparent !important;

            ~ .lp_redeem-code__hint {
                color: $clickable--highlight !important;
            }
        }

        &:focus {
            background: transparent !important;
            border: 2px solid $clickable--highlight !important; /* 3 */
            color: $text !important; /* 3 */

            /* hide / show siblings, when the voucher input is focused */
            ~ .lp_redeem-code__hint {
                visibility: hidden !important; /* 3 */
            }

            ~ .lp_redeem-code__input-hint {
                display: block !important; /* 3 */
            }

            ~ .lp_redeem-code__button {
                display: block !important; /* 3 */
            }

            ~ .lp_redeem-code__value {
                background: transparent !important;
                display: inline-block !important; /* 3 */

                &:hover,
                &:focus,
                &:active {
                    background: $clickable--highlight !important;
                    text-decoration: none !important;
                }
            }
        }

        ~ .lp_redeem-code__input-hint {
            display: none !important;
        }

        /**
         * button for redeeming voucher code
         */
        ~ .lp_redeem-code__button {
            display: none !important;
        }
    }
}

.lp_redeem-code__input-hint {
    color: $text--lighter !important;
    font-family: Arial, sans-serif !important;
    font-size: $fs--15 !important;
    left: $fs--15 !important;
    line-height: 1.5 !important;
    margin: 0 !important;
    position: absolute !important;
    top: $fs--075 !important;
}

.lp_redeem-code__button {
    background: $clickable !important;
    border: none !important;
    border-radius: $border-radius !important;
    bottom: $fs--05 !important;
    color: $text--inverse !important;
    cursor: pointer !important;
    display: inline-block;
    font-family: Arial, sans-serif !important;
    font-size: $fs--125 !important;
    padding: $fs--05 $fs !important;
    position: absolute !important;
    right: $fs--05 !important;
    text-decoration: none !important;
    text-shadow: none !important;
    top: $fs--05 !important;
    z-index: $zindex--elevated-2 !important;

    &:hover,
    &:focus,
    &:active {
        background: $clickable--highlight !important;
        text-decoration: none !important;
    }
}

.lp_redeem-code__feedback-message {
    background: $background--highlight !important;
    border-radius: $border-radius !important;
    color: $text !important;
    cursor: pointer !important;
    line-height: 1.3 !important;
    padding: $fs $fs--05 !important;
    text-align: center !important;

    ~ * {
        display: none !important;
    }
}


// define line-height to minimize influence of theme styles
.lp_redeem-code__value,
.lp_redeem-code__button {
    line-height: 1.5 !important;
}

.lp_redeem-code__hint {
    color: $clickable !important;
    display: block !important; /* 1 */
    font-family: Arial, sans-serif !important;
    font-size: $fs--125 !important;
    margin: 0 !important;
    text-decoration: none !important;
    visibility: visible !important; /* 1 */
}
