// LaterPay Accordion Components.

details.lp-faq {
	border: 1px solid #aaa;
	border-radius: 4px;
	padding: 5px 5px 5px;
	margin-bottom: 5px;

	&[open] {
		padding: 5px;
	}

	&[open] summary {
		border-bottom: 1px solid #aaa;
		margin-bottom: 5px;
	}

}

.lp_main_area {

	.lp_info_div {
		min-height: unset !important; // too much white space in account tab so unset.
	}

	.lp_info_icon {
		cursor: pointer;
		font-size: 22px;
		position: absolute;
		margin-top: -4px;
	}
	.lp_greybox {
		width: 55%;
	}

	span.lp_sign_up {
		text-transform: uppercase;
		font-size: 16px;
	}

	button.lp_info_close {
		position: absolute;
		left: 10px;
		bottom: 25px;
	}

	a.lp_purchase-overlay__submit {
		padding: 0 25px!important;
		font-weight: 300;
	}

	input[type=text][required] + label[placeholder] {
		position: absolute;
	}

	.lp_api-credentials__list-item {
		p.lp_tooltip_account_p {
			margin-top: 3px;
		}
	}

	ul.lp_go_live {
		list-style: none !important;

		[data-icon] {
			&:before {
				color: #00AAA2;
				font-size: 18px;
			}
		}
	}
}

.lp_side_area {

	color: #B0B0B0;

	div.lp_info {
		padding: 30px 70px 0 70px;
	}

	h2 {
		text-transform: uppercase;
		color: #737373 !important;
	}

	h3 {
		font-weight: 500;
		color: #737373;
		margin-bottom: 10px;
	}

	.lp_side_info {
		padding-bottom: 5px;
	}
}

p.lp_tooltip_account_p {

	line-height: 0;
	position: absolute;
	margin: -3px 10px;

	&:after {
		width: 300px;
		margin-left: -60px;
		position: absolute;
	}

	&:before {
		margin-left: -10px;
		position: absolute;
	}

	span {
		font-size: 20px;
	}
}

p.live-success-msg {
	margin-bottom: 0;
	color: #008000;
}

p.live-cache-warning {
	margin-top: 5px;
	font-weight: 500;
	color: #FF0000;

	a {
		color: #FF0000;
		text-decoration: underline;
	}

	a.hide-msg {
		color: #808080;
		cursor: pointer;
	}
}

// Responsiveness ------------------------------------------------------------------------------------------------------
@media (max-width:1279px) {
	.lp_main_area {
		.lp_greybox {
			width: auto;
		}
	}
}
