// 'Account' tab in plugin backend

// API credentials -----------------------------------------------------------------------------------------------------
.lp_1\/2 {

    ul.lp_clearfix {
        margin: 1.25em 0 -0.8em;

        .lp_icon-spacer {
            float: left;
            width: (6 * $fs);
        }
    }

    fieldset {
        min-height: round(12.5 * $fs);

        form:first-of-type {
            margin-top: $fs--2;
        }
    }
}


// Chrome browser hack
.lp_1\/2 fieldset form:first-of-type:not(*:root) {
    display: inline;
}


// render icons from icon font in pseudo elements
.lp_api-credentials[data-icon] {

    &:before {
        color: $border;
        position: absolute;
        z-index: $zindex--recessed;
    }

    &.lp_api-credentials--sandbox:before {
        font-size: 90px;
        left: 26px;
        top: 57px;
    }

    &.lp_api-credentials--live:before {
        font-size: 75px;
        left: 15px;
        margin: 0.1em 0 0 1px;
        top: 72px;
    }
}

.lp_api-credentials--live[data-icon].lp_is-live:before {
    color: $laterpay-brand;
}


// Responsiveness ------------------------------------------------------------------------------------------------------
@media (max-width:1050px) {
    .lp_api-credentials {

        &.lp_api-credentials--sandbox[data-icon]:before {
            font-size: 75px;
            left: 24px;
            top: 61px;
        }

        &.lp_api-credentials--live[data-icon]:before {
            font-size: 60px;
            left: 14px;
            top: 79px;
        }

        .lp_icon-spacer {
            float: left;
            width: 70px;
        }

        .lp_account-input__input[type=text] {
            width: 290px;
        }
    }
}
