// LaterPay Accordion Components.

details.lp-faq {
	border: 1px solid #aaa;
	border-radius: 4px;
	padding: 5px 5px 5px;
	margin-bottom: 5px;

	&[open] {
		padding: 5px;
	}

	&[open] summary {
		border-bottom: 1px solid #aaa;
		margin-bottom: 5px;
	}

}

button.lp_js_disablePlugin {
	background: $purchase-description-text !important;
	border-color: $purchase-description-text !important;
	box-shadow: 0 1px 0 $purchase-description-text !important;
	text-shadow: 0 -1px 1px $purchase-description-text,
				1px 0 1px $purchase-description-text,
				0 1px 1px $purchase-description-text,
				-1px 0 1px $purchase-description-text !important;
}

button.lp_js_ga_cancel {
	margin-left: $fs !important;
	text-decoration: underline;
	color: #0073aa;
}

button.lp_js_disablePluginConfirm {
	background: #ff1744 !important;
	border-color: #ff1744 !important;
	box-shadow: 0 1px 0 #ff1744 !important;
	text-shadow: 0 -1px 1px #ff1744,
	1px 0 1px #ff1744,
	0 1px 1px #ff1744,
	-1px 0 1px #ff1744 !important;
}

.lp_main_area {

	.lp_info_icon {
		cursor: pointer;
		font-size: 22px;
		position: absolute;
		margin-top: -4px;
	}
	.lp_greybox {
		width: 55%;
	}

	span.lp_sign_up {
		text-transform: uppercase;
		font-size: 16px;
	}

	button.lp_info_close {
		position: absolute;
		left: 10px;
		bottom: 25px;
	}

	a.lp_purchase-overlay__submit {
		padding: 0 47px!important;
	}
}

.lp_side_area {

	color: #B0B0B0;

	div.lp_info {
		padding: 30px 70px 0 70px;
	}

	h2 {
		text-transform: uppercase;
		color: #737373 !important;
	}

	h3 {
		font-weight: bold;
		color: #737373;
	}

	.lp_side_info {
		padding-bottom: 5px;
	}
}

.lp_page {
	overflow-x: hidden;
}
