// LaterPay Advanced Page Styling.

.lp_main_area {
    width: 60%;

    div.lp_clearfix:last-child {
        margin-bottom: 0;

        .lp_info_div {
            padding-bottom: 0;
        }
    }

    .lp_info_div {
        min-height: 130px;
    }

    h2 {
        font-size: 20px;
        color: #737373!important;
    }

    .lp_advanced_info {
        width: 65%;
        float: left;
        p {
            width: 85%;
        }
    }

    .lp_advanced_info_dynamic {
        width: 55%;
    }

    img.lp_advanced_info_img_wide {
        width: 200px;
        height: 45px;
        margin-top: 25px;
    }

    img.lp_advanced_info_img_normal {
        width: 150px;
        height: 130px;
    }

    img.lp_advanced_info_img_no_width {
        height: 130px;
        width: 200px;
    }

    .lp_clearfix {
        margin-bottom: 20px;
    }
    ul {
        padding-left: 15px;
        list-style: disc;
    }

    div.lp_info_list_div {
        position: absolute;
        right: 16%;

        ul.lp_info_list {
            list-style: none !important;
            border: 2px solid #e2e2e2;
            border-radius: 5px;
            margin: 0;
            padding: 0 5px;

            [data-icon] {
                &:before {
                    color: #00AAA2;
                    font-size: 18px;
                }
            }
        }
    }

    div.lp_advanced_info {
        .lp_toggle__label {
            width: 7.5em;
        }
    }
}

button.lp_js_disablePlugin {
    background: $purchase-description-text !important;
    border-color: $purchase-description-text !important;
    box-shadow: 0 1px 0 $purchase-description-text !important;
    text-shadow: 0 -1px 1px $purchase-description-text,
    1px 0 1px $purchase-description-text,
    0 1px 1px $purchase-description-text,
    -1px 0 1px $purchase-description-text !important;
}

button.lp_js_ga_cancel {
    margin-left: $fs !important;
    text-decoration: underline;
    color: #0073aa;
}

button.lp_js_disablePluginConfirm {
    background: #ff1744 !important;
    border-color: #ff1744 !important;
    box-shadow: 0 1px 0 #ff1744 !important;
    text-shadow: 0 -1px 1px #ff1744,
    1px 0 1px #ff1744,
    0 1px 1px #ff1744,
    -1px 0 1px #ff1744 !important;
}

// Responsiveness ------------------------------------------------------------------------------------------------------
@media (max-width:1279px) {
    .lp_main_area {

        .lp_advanced_info {
            width: 50%;
        }

        div.lp_info_list_div {
            width: 30%;
        }

        img.lp_advanced_info_img_normal {
            margin-left: 30px;
        }

        img.lp_advanced_info_img_wide {
            margin-left: 15px;
        }
    }
}
