// 'Appearance' tab in plugin backend

// preview mode images
&.lp_button-group__button-image--preview-mode-1 {
    background-image: url('../img/preview-mode-1.png');
}
&.lp_button-group__button-image--preview-mode-2 {
    background-image: url('../img/preview-mode-2.png');
}

// purchase button position images
&.lp_button-group__button-image--button-position-1 {
    background-image: url('../img/button-position-1.png');
}
&.lp_button-group__button-image--button-position-2 {
    background-image: url('../img/button-position-2.png');
}

// time passes position images
&.lp_button-group__button-image--time-passes-position-1 {
    background-image: url('../img/time-passes-position-1.png');
}
&.lp_button-group__button-image--time-passes-position-2 {
    background-image: url('../img/time-passes-position-2.png');
}
