// 'Appearance' tab in plugin backend

.lp_pagewrap {
    overflow-x: unset;
}
.lp_main_area {

    .lp_layout {
        max-height: 500px;
    }

    #lp_appearance_loading {
        margin-top: 150px;
        font-size: 28px;
    }

    width: 65% !important;

    div.lp_clearfix:first-child {
        padding: 40px 0 0 30px;
        width: 50%;
        float: left;
    }

    div.lp_clearfix:last-child {
        padding-top: 40px;
        display: table;
    }

    div.lp_appearance_options {
        margin-top: 15px;

        div.appearance_option_single {
            margin-top: 30px;

            label {
                display: inline-block;
                width: 210px;
            }

            textarea {
                vertical-align: middle;
            }

            .recommended_option {
                border: 2px solid;
                border-color: #90EE90;
            }
        }

        div.appearance_option_single_child {
            margin-top: 10px;

            label {
                display: inline-block;
                margin-left: 40px;
                width: 160px;
            }
        }
    }

    div.lp_appearance_preview {
        h3 {
            margin-top: 30px;
            color: #000000;
            font-size: 16px;
        }
    }

    div.appearance_actions {
        margin-top: 30px;
        span.lp_disclaimer{
            color: #f00;
            font-style: italic;
            font-size: 12px;
        }
    }

    div.lp_backend_purchase_button {
        margin: 14px !important;

        a.lp_purchase-button {
            font-size: 15px !important;

            &:before {
                font-size: 30px !important;
                left: 10px;
                top: 6px;
            }
        }

        a.lp_bought_notification {
            font-size: 10px;
        }
    }

    .appearance_options_disabled {
        color: #d0d0d0;
    }

    .lp_full-content {
        color: transparent!important;
        padding: 4px!important;
        text-shadow: 0 0 4px #000!important;
        filter: blur(3px)!important;
    }

    .lp_purchase-overlay {
        bottom: 14px !important;
        min-height: 500px !important;
        position: relative !important;
        top: 0 !important;
        display: block;
    }

    .lp_purchase-overlay__wrapper {
        left: 50%!important;
        margin-top: 49px!important;
        position: absolute!important;
        top: 0!important;
        transform: translateX(-50%)!important;
        width: 100%!important;
    }

    .lp_benefits {
        width: 100%;
        display: inline-block;
        border-bottom: 1px solid #e3e3e3;
        margin-top: 10px;

        .lp_benefits__list {
            list-style: none !important;
            padding: 0 !important;
            margin: 0 !important;
        }

        .lp_benefits__list-item {
            background: url('../img/laterpay-icon-buy.svg') 6px 0 / 50px no-repeat !important;
            list-style: none !important;
            margin: 0 !important;
            padding: 0 0 0 80px !important;

            &.lp_benefit--buy-now {
                background-image: url('../img/laterpay-icon-buy.svg') !important;
            }

            &.lp_benefit--use-immediately {
                background-image: url('../img/laterpay-icon-read.svg') !important;
            }

            &.lp_benefit--pay-later {
                background-image: url('../img/laterpay-icon-pay.svg') !important;
            }
        }

        .lp_benefit__title {
            color: lighten($text, 5%);
            font-size: $fs !important;
            margin: 3px 0 0.1em !important;
        }

        .lp_benefit__text {
            color: lighten($text, 20%);
            line-height: 1.3 !important;
            margin: 0 !important;
            padding-bottom: 5px;
        }

        .lp_benefits__action {
            text-align: center !important;
            .lp_button {
                font-size: $fs--15 !important;
            }
        }

        .lp_purchase-button,
        .lp_button {
            display: inline-block !important;
            float: none !important;
            margin-bottom: 5px !important;
            font-size: $fs !important;
            &:before {
                font-size: 30px !important;
                top: 6px;
            }
        }

        .lp_button {
            padding: 0.25em 0.5em !important;
        }

        .lp_bought_notification {
            display: inline-block;
            float: none !important;
            font-size: 11px;
        }
    }

    .lp_customize_colors {
        padding: 0 0 0 30px;
        width: 50%;

        table {
            border-spacing: 5px 15px;

            .lp_input {
                padding: 0;
                border: 0;
                box-shadow: none;
            }
        }
    }
}

.lp_side_area {
    width: 35% !important;
}

// preview mode images
.lp_button-group__button-image--preview-mode-1 {
    background-image: url('../img/preview-mode-1.png');
}
.lp_button-group__button-image--preview-mode-2 {
    background-image: url('../img/preview-mode-2.png');
}
.lp_button-group__button-image--preview-mode-3 {
    background-image: url('../img/preview-mode-3.png');
}

// purchase button position images
.lp_button-group__button-image--button-position-1 {
    background-image: url('../img/button-position-1.png');
}
.lp_button-group__button-image--button-position-2 {
    background-image: url('../img/button-position-2.png');
}

// time passes position images
.lp_button-group__button-image--time-passes-position-1 {
    background-image: url('../img/time-passes-position-1.png');
}
.lp_button-group__button-image--time-passes-position-2 {
    background-image: url('../img/time-passes-position-2.png');
}

.lp_purchase-form {

    &__panel {
        border-radius: $border-radius * 2;
        border: 1px solid $border;
        box-sizing: border-box;
        margin-top: $fs--125;
        padding: $fs--08 $fs--125;
    }

    &__triangle {
        box-sizing: border-box;
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: $fs+1;
        top: -($fs+1);
        right: 108px;
        margin-left: -($fs+1);
        border-top-width: 0;
        border-bottom-color: $border;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;

    }
    .lp_purchase-form__triangle:after {
        box-sizing: border-box;
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        content: "";
        border-width: $fs;
        top: 1px;
        margin-left: -$fs;
        border-top-width: 0;
        border-bottom-color: #f1f1f1;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
    }

    &__buttons {
        display: table;
    }

    &__table {

        & td {
            font-size: $fs--08;
            padding: $fs--015 $fs--025 $fs--015  0;
        }
        & .lp_input {
            font-size: $fs--08;
            height: 2em;
            min-width: $fs * 13;
        }
    }
}

.lp_purchase-form-label {
    font-size: $fs--07;
}

// Responsiveness ------------------------------------------------------------------------------------------------------
@media (max-width:1279px) {
    .lp_button-group--large .lp_button-group__button {
        width: 130px;
        font-size: 9px;
    }
    .lp_button-group--large .lp_button-group__button-image {
        height: 100px;
        width: 100%;
    }
}

@media screen and (max-width: 782px) {
    .lp_button-group--large .lp_button-group__button {
        width: 120px;
        font-size: 8px;
    }
    .lp_button-group--large .lp_button-group__button-image {
        height: 85px;
    }
}
