// 'Contributions' tab in plugin backend

.lp_pagewrap {
    overflow-x: unset;
}

.lp_main_area {

    div.lp_contribution_form {
        text-align: center;
        height: 500px;
        display: inline-block;
        padding-top: 20px;

        label.lp_contribution_label {
            font-weight: bold;
            vertical-align: unset;
        }

        .input-icon {
            float: left;
            margin-right: 5px;
            margin-top: 5px;
            position: relative;

            i {
                position: absolute;
                display: block;
                top: 12px;
                pointer-events: none;
                width: 30px;
                text-align: center;
                font-style: normal;
            }

            input {
                padding-left: 25px;
                height: 40px;
            }
        }

        p.lp_tooltip_contribution {
            font-size: 20px;
            margin: 0;
        }

        .lp_tooltip {
            span {
                &:before {
                    top: 5px;
                }
            }

            &:hover {
                &:before {
                    left: 10%;
                }

                &:after {
                    width: 20em;
                    left: 10%;
                }
            }
        }

        div.lp_contributions_options {
            text-align: left;

            div.contributions_option_single {
                margin-bottom: 15px;

                .lp_input {
                    width: 250px;
                }
            }
        }

        div.lp_contributions_single_amount_options {
            text-align: left;
            margin-top: 25px;

            .lp_contributions_custom_amount_label {
                font-size: 15px;
            }

            input[type=checkbox] {
                margin: 0;

                &:before {
                    color: #00AAA2;
                }
            }

            div.lp_single_contribution_dialog_options {
                position: relative;

                .lp_post-price-input {
                    float: left;
                    width: 200px;
                    height: 40px;
                }

                .post_price_revenue_model {

                    .lp_badge--revenue-model {
                        width: 60px;
                    }

                    .lp_badge {
                        font-size: 10px;
                    }
                }
            }

        }

        div.lp_multiple_contribution_dialog_options {
            text-align: left;

            label {
                vertical-align: unset;
            }

            #lp_contribution_allow_multiple_amount {
                margin: 10px 0;
            }

            div.contributions_option_single {
                label.dialog_input {
                    display: inline-block;
                    width: 130px;
                }

                #lp_contribution_dialog_description {
                    text-overflow: ellipsis;
                }
            }

            div.purchase_options {

                .all_purchase_options {
                    .lp_input {
                        width: 100px;
                        height: 40px;
                        float: left;
                    }

                    ul {
                        margin: 0;
                        list-style: none;

                        li {
                            display: inline-block;

                            .post_price_revenue_model {
                                position: relative;
                                left: 5px;
                                bottom: 3px;
                                float: left;
                                margin-right: 30px;

                                .lp_badge--revenue-model {
                                    width: 60px;
                                }

                                .lp_badge {
                                    font-size: 10px;
                                    padding: 1px 0;
                                }

                                .lp_mt- {
                                    margin-top: 5px;
                                }
                            }

                            span.lp_js_currency {
                                margin-left: 5px;
                            }

                            .lp_js_optionPrice {
                                width: 60%;
                                float: left;

                                label {
                                    margin-right: 15px;
                                }
                            }

                            input.lp_default_contribution_input {
                                margin-left: 5px;

                                &:before {
                                    color: #00AAA2;
                                }
                            }
                        }
                    }

                    a.lp_js_addPurchaseOption {
                        float: right;
                    }
                }
            }
        }

        .lp_contribution_preview {
            .lp_contribution_live_preview {
                border: 3px solid #eaeaea;
                min-height: 200px;
                text-align: center;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            p.lp_contribution_preview_info {
                padding: 0 10%;
                color: #5f5f5f;
            }

            .lp-dialog-single-button-wrapper {
                display: none;
                height: 150px;
                -webkit-font-smoothing: antialiased;
            }

            .lp-dialog-multiple-contribution-wrapper {
                height: auto;
                padding: 30px 0;
                -webkit-font-smoothing: antialiased;
                width: 90%;

                .lp-dialog-wrapper {
                    z-index: 2;
                    -webkit-font-smoothing: antialiased;
                    font-size: 16px;

                    .lp-dialog {
                        background: #fff;
                        border-radius: 8px;
                        box-shadow: rgba(0, 0, 0, 0.25) 0 0 10px -1px;
                        box-sizing: border-box;
                        color: rgb(34, 34, 34);
                        font-size: 14px; font-style: normal;
                        font-weight: normal;
                        line-height: 1.2;
                        margin: 1em auto;
                        max-width: calc(448px);
                        padding: 0;
                        text-align: center;
                        text-decoration: none;
                        text-shadow: none; text-transform: none;

                        .lp-header-wrapper {
                            border-radius: 8px 15px 0px 0px;
                            padding-bottom: calc(10.5px);
                            box-sizing: inherit;
                            color: rgb(34,34,34);
                            background-color: #fff;

                            .lp-header-padding {
                                background-color: transparent;
                                max-width: 100%;
                                height: auto;
                                padding: calc(10.5px) calc(10.5px) 0px;
                                font-weight: normal;
                                margin-left: auto;
                                margin-right: auto;
                                box-sizing: inherit;
                                font-family: inherit;
                            }

                            .lp-header-text {
                                font-size: calc(26.25px);
                                font-weight: 600;
                                letter-spacing: -.015em;
                                line-height: 1.4;
                                padding: 32px 21px 0px;
                                box-sizing: inherit;
                                font-family: inherit;
                            }
                        }

                        .lp-amount-text {
                            display: block;
                            font-size: 17px;
                            color: #888;
                            font-weight: 600;
                            letter-spacing: 0.15px;
                            margin: 0 0 30px 0;
                        }

                        .lp-amount-presets-wrapper {
                            position: relative;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-wrap: wrap;
                            max-width: 300px;
                            margin: 0 auto;

                            .lp-amount-presets {
                                border: thin solid rgb(238, 239, 238);
                                border-radius: 8px;

                                .lp-amount-preset-wrapper {
                                    cursor: pointer;
                                    box-sizing: border-box;
                                    display: block;
                                    float: left;
                                    padding: 0 5px;

                                    &:first-child, &:last-child {
                                        padding: 0;
                                    }

                                    .lp-amount-preset-button {
                                        text-align: center;
                                        line-height: 50px;
                                        width: 50px;
                                        font-size: 16px;
                                        border-radius: 8px;
                                        color: rgb(93, 93, 93);
                                    }

                                    .lp-amount-preset-button-selected {
                                        background-color: rgb(1, 169, 157);
                                        font-weight: 600;
                                        color: rgb(255, 255, 255);
                                    }
                                }
                            }
                        }

                        .lp-custom-amount-wrapper {

                            .lp-custom-amount {
                                font-size: 16px;
                                margin: 0.3em auto;
                                float: none;
                                left: 0;
                                right: 0;

                                .lp-custom-input-wrapper {
                                    position: relative;

                                    i {
                                        position: absolute;
                                        display: block;
                                        top: 12px;
                                        pointer-events: none;
                                        width: 30px;
                                        text-align: center;
                                        font-style: normal;
                                        left: 40%;
                                    }
                                }

                                .lp-custom-amount-label {
                                    width: 100%;
                                    line-height: inherit;
                                    margin: auto;
                                    padding: 4px 6px;
                                    box-sizing: border-box;
                                    color: rgb(74, 74, 74);
                                    vertical-align: middle;
                                    font-weight: 700;
                                    font-size: 0.95em;
                                    display: block;
                                    cursor: default;

                                    .lp-custom-amount-text {
                                        font-size: 14px;
                                        margin-top: 2px;
                                        margin-bottom: 5px;
                                        color: #888;
                                        font-weight: 600;
                                        letter-spacing: 0.15px;
                                    }
                                }

                                .lp-custom-amount-input {
                                    font-family: inherit;
                                    line-height: inherit;
                                    font-size: 16px;
                                    width: 100px;
                                    text-align:left;
                                    border: thin solid rgb(238, 239, 238);
                                    border-radius: 8px;
                                    padding-left: 30px;
                                    height: 40px;
                                }
                            }
                        }

                        .lp-dialog-button-wrapper {
                            display: inline-flex;
                            margin-top: 10px;
                        }

                        .lp-powered-by {
                            margin-top: 30px;
                            padding-bottom: 18px;
                            color: rgb(65, 65, 65);
                            font-size: 14px;
                            text-align: center;
                            vertical-align: top;

                            .lp-powered-by-link {
                                color: inherit;
                                font-family: inherit;
                                position: relative;
                                font-size: 18px;
                                vertical-align: top;
                            }
                        }
                    }
                }
            }

            .lp-button-wrapper {
                display: flex;
                flex-flow: row nowrap;
                flex: 1 1 0;
                align-items: center;
                justify-content: center;

                .lp-button {
                    margin-top: 50px;
                    cursor: pointer;
                    color: #fff;
                    background-color: #01a99d;
                    border-radius: 8px;
                    padding: 0 8px;

                    .lp-link {
                        text-decoration: none;
                        padding: 13px 18px 13px 40px;
                        font-weight: 600;
                        font-size: 16px;
                    }
                }
            }
        }

        .lp-contribution-generate-code {
            a {
                font-size: 20px;
                height: 50px;
                width: 300px;
                padding: 5px;
                border-radius: 5px;
            }
        }

        p.lp-contribution-error-message, p.lp-contribution-custom-error-message {
            display: none;
            color: #FF0000;
        }
    }

}

.lp_main_contribution {
    margin: 0;
    border-width: 0;
    min-height: 600px;
    padding-left: 15px;
}
