// 'Pricing' tab in plugin backend

// enabled revenue models ----------------------------------------------------------------------------------------------
.lp_enabled-revenue-models {
    background: $background--darker;
    border-radius: $border-radius;
    margin-top: $fs;
    margin-bottom: $fs;
    padding: $fs;
}


// price type sections -------------------------------------------------------------------------------------------------
ul.lp_row h2 + hr {
    height: 2px;
}

ul.lp_row li:nth-child(1) h2 + hr {
    background-color: darken($background, 12%);
}

ul.lp_row li:nth-child(2) h2 + hr {
    background-color: darken($text--lighter, 2%);
}

ul.lp_row li:nth-child(3) h2 + hr {
    background-color: darken($text--lighter, 21%);
}

.lp_spacer {
    height: 2.4em;
}

.lp_revenue-model__list {
    width: round(3.5 * $fs);
}

span.lp_revenue-model {
    background-color: darken($background, 13%);
    color: $text--inverse;
    padding: $fs--025 $fs--025;
}


// category default prices ---------------------------------------------------------------------------------------------
.select2-container,
.select2-drop,
.select2-search,
.select2-search input {
    margin-bottom: 32px;
    width: (10 * $fs);
}

.lp_price-settings__category-title {
    min-width: 8.75em;
}


// time passes ---------------------------------------------------------------------------------------------------------
.lp_time-passes__add-link.button {
    margin-bottom: $fs;
}

.lp_time-passes__item {
    background: $background--darker;
    border-radius: $border-radius;
    margin-bottom: $fs;
    margin-left: round(2.5 * $fs);
    padding: $fs;
    position: relative;

    .lp_time-pass__id-wrapper {
        background: $background--darker;
        border-radius: 4px 0 0 4px;
        left: - round(3.5 * $fs);
        line-height: 1.2;
        padding: $fs--05 $fs--025;
        position: absolute;
        text-align: center;
        width: $fs--3;
    }

    .lp_time-pass__id {
        font-size: $fs--2;
    }

    .lp_time-pass {
        margin-bottom: 0;
    }
}

.lp_time-pass-editor {
    display: inline-block;
    vertical-align: top;

    .lp_time-pass-editor__column {
        display: inline-block;
        margin-right: $fs--2;
        vertical-align: top;

        td {
            padding: 0;
            vertical-align: middle;
        }

        .lp_rowspan-label {
            padding-top: $fs--05;
            vertical-align: top;
        }
    }

    .lp_timePass_descriptionInput {
        height: 4.75em;
    }

    .lp_save-link {
        margin-top: $fs;
        margin-left: $fs--05;
    }

    .lp_toggle__label-pass {
        width: round(3.5 * $fs);

        .lp_toggle__input:checked ~ .lp_toggle__text {
            background: darken($background, 16%);
        }
    }
}

// voucher editor
.lp_voucher {
    margin-top: $fs--05;
    margin-right: $fs;
}

.lp_vouchers .lp_voucher {
    float: left;
}


// bulk price editor ---------------------------------------------------------------------------------------------------
.button.button-primary.lp_mb+ {
    margin-left: $fs--2;
}

/**
 * 1. Remove arrows from select
 */
select.lp_is-disabled {
    appearance: none; /* 1 */
    background-color: transparent;
    border-color: transparent;
    color: darken($text, 13%);

    &::-ms-expand {
        display: none; /* 1 - IE */
    }
}

.lp_bulk-operation {
    width: 600px;

    span {
        line-height: 2.25em;
    }

    a {
        float: right;
    }
}


// responsiveness ------------------------------------------------------------------------------------------------------
@media (max-width:1279px) {
    .lp_edit-link {
        margin-left: $fs--05;
    }

    ul.lp_row li:nth-child(3) br {
        display: none;
    }
}
