// Loaded on view post pages

@charset "UTF-8";

@import 'objects/_variables';
@import 'objects/_polyfills';
@import 'objects/_triangle';
// @import 'objects/_tags';
@import 'objects/_utilities';
@import 'objects/_kpi';
@import 'objects/_vector_icons';
@import 'objects/_lp_heart';

@import 'components/_toggle';
@import 'components/_post_preview_mode';
@import 'components/_purchase_button';
@import 'components/_purchase_overlay';
@import 'components/_time_pass';
@import 'components/_contributions';

@import 'pages/_post_view';


// override a few default settings of the toggle
.lp_toggle label.lp_toggle__label {
    width: ($fs * 4);

    .lp_toggle__input:checked ~ .lp_toggle__text {
        background-color: $text--lightest;
    }
}


// fix for small card on front view
.lp_time-pass-widget .lp_time-pass__actions .lp_purchase-button {
    padding: 4px 11px 4px 10px!important;
}

.lp_premium_link_anchor {
    margin: 10px 0;
    display: block;
    box-shadow: none !important;
    text-decoration: underline;
    cursor: pointer;
}
