// Loaded on options page for LaterPay plugin

@charset "UTF-8";

@import 'objects/_variables';
@import 'objects/_polyfills';
@import 'objects/_spinner';

h2 {
    font-weight: 500;
    font-size: $fs;
}

h3 {
    margin: (4 * $fs) 0 $fs;

    &:first-of-type {
        margin-top: $fs;
    }
}

.form-table {
    margin-top: 0;
}
.form-table th {
    font-weight: 500;
    padding-top: $fs;
    padding-bottom: $fs--05;
    width: 40%;
}

.form-table th.lp_font, span.lp_font {
    font-weight: normal;
}

.form-table td {
    padding-top: $fs--05;
    padding-bottom: 0;
}

.regular-text.lp_number-input {
    text-align: right;
    width: (4 * $fs);
}

.lp_appended-text {
    color: $text--lighter;
    padding-left: $fs--05;
}

p.submit {
    margin-top: (4 * $fs);
}

// hide the individual category checkboxes, if access was granted to 'all' or 'no' categories
.lp_global-access:checked ~ .lp_category-access-input:not(.lp_global-access),
.lp_global-access:checked ~ .lp_category-access-label:not(.lp_global-access) {
    display: none;
}

.lp_category-access-label {
    line-height: 1.8;
    margin-right: $fs;
}

.regular-text.lp_ga-input {
    margin-left: (2 * $fs);
    border: 1px solid;
    width: (12 * $fs);
}

.form-table span.lp_ga_span {
    margin-left: $fs;
    font-size: $fs;
    color: #ff1744;
    text-align: justify;
}

button.lp_js_ga_cancel {
    margin-left: $fs !important;
    text-decoration: underline;
    color: #0073aa;
}

span.lp_option_icon {
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    margin-top: -4px;
}

button.lp_js_info_close {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

div#TB_ajaxContent {
    display: table-cell;
    vertical-align: middle;
}

a.lp_options_a {
    color: black;
    font-size: (2 * $fs);
    text-decoration: none;
}
