[submodule "laterpay/library/laterpay"]
	path = laterpay/library/laterpay
	url = git@github.com:laterpay/laterpay-client-php.git
[submodule "node_modules"]
	path = node_modules
	url = git@github.com:laterpay/laterpay-wordpress-gulp.git
