/**
 * Dropdown component
 */

.lp_dropdown
    cursor                  pointer
    display                 inline-block
    position                relative

    .lp_dropdown_currentItem
        color               $clickable

/* Reveal dropdown_list on hover or when state class 'is-expanded' is added */
.lp_dropdown:hover,
.lp_dropdown.lp_is-expanded
    .lp_dropdown_list
        display             block

.lp_dropdown_list
    background              $background-lightest
    border                  2px solid $border
    border-radius           3px
    display                 none
    left                    50%
    margin-left             -3em
    padding                 $fs-05
    position                absolute
    top                     round(3 * $fs-1)
    width                   6em
    z-index                 $zindex-overlayed_1

    /* upward-pointing arrow */
    .lp_triangle
        border              13px solid $background-lightest
        border-color        transparent transparent $background-lightest transparent
        height              0
        left                -13px
        position            absolute
        top                 -10px
        width               0
        z-index             $zindex-elevated_2
    /* border for upward-pointing arrow */
    .lp_outerTriangle
        border-bottom-color $border
        border-width        14px
        left                50%
        margin-left         -14px
        top                 -28px
        z-index             $zindex-elevated_1

.lp_dropdown_listItem
    display                 block
    line-height             1
    padding                 $fs-05
    white-space             nowrap

/**
 * Highlight the selected item and remove all styling that makes it look as if you could interact with it
 */
.lp_dropdown_listItem.lp_is-selected
    color                   $text-lighter

    &:hover
        color               $text-lighter
        cursor              default
