// basic input styling -------------------------------------------------------------------------------------------------
input[type=text].lp_input,
input[type=number].lp_input,
textarea.lp_input,
select.lp_input
    background-color                $background-lightest
    border-radius                   4px
    border                          2px solid $border
    box-shadow                      none
    height                          calc(2em + 4px) // normalize input height, especially selects in Chrome
    line-height                     1
    margin                          0
    padding                         0.5em

    &:focus
        -moz-appearance             none
        -webkit-appearance          none
        border-color                $clickable-highlight

    &:disabled
        cursor                      not-allowed

textarea.lp_input
    resize                          vertical

select.lp_input
    margin-left                     2px
    padding                         0.25em
    position                        relative
    top                             -2px


// special inputs ------------------------------------------------------------------------------------------------------
// API Key and Merchant ID inputs
input[type=text].lp_apiKeyInput,
input[type=text].lp_merchantIdInput
    padding-left                    2.8em
    width                           22em

// number inputs
input[type=text].lp_numberInput
    padding                         0.25em 0.35em
    text-align                      right
    width                           4em

// iconized inputs
.lp_iconizedInput
    color                           $border
    font-size                       2em
    margin                          0.04em 0 0 0.35em
    position                        absolute

// select2 selects
.lp_page {
    .select2-container {
        margin-left: 2px;
        width: 100%;

        .select2-choice {
            border: 2px solid $border;
            border-radius: 4px;
        }
    }

    .select2-container-active .select2-choice {
        border-color: $clickable-highlight;
        color: $text-lighter;
    }

    .select2-dropdown-open .select2-choice {
        border-bottom-color: transparent;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.select2-drop {
    &.select2-drop-active {
        border-color: $clickable-highlight;
        border-width: 0 2px 2px;
    }

    .select2-search {
        padding-left: 0;
        padding-right: 0;

        input {
            background: $background-darker;
            border: 0 none;
            box-shadow: none;

            &:focus {
                border-color: $clickable-highlight;
            }
        }
    }

    .select2-results {
        margin: 0;
        padding: 0;

        li {
            margin-bottom: 0;

            // apply border-radius to last element to ensure it does not overlap its container's border;
            // radius reduced to compensate for line width of container
            &:last-child {
                border-bottom-right-radius: 2px;
                border-bottom-left-radius: 2px;
            }
        }

        li:hover,
        .select2-highlighted {
            background: $background-highlight;
            color: $text;
        }
    }

    .select2-result-label {
        padding: $fs-05;
    }
}

// HTML5 placeholders --------------------------------------------------------------------------------------------------
.lp_input::-webkit-input-placeholder,
.lp_input::-moz-placeholder,
.lp_input:-ms-input-placeholder
    color                           $text-lighter
    line-height                     1


// responsive placeholders ---------------------------------------------------------------------------------------------
input[type=text][required] + label[placeholder]
    display                         block
    line-height                     1
    margin-bottom                   1em
    margin-top                      calc(-3em - 2px)
    pointer-events                  none

    &:before
        linear-gradient             hsla(0,0%,100%,0), 46%, hsla(0,0%,100%,1), 47%
        background-repeat           no-repeat
        color                       $text-lighter
        content                     attr(placeholder)
        display                     inline-block
        margin                      1.4em 0 0 0.5em
        padding                     0 3px
        transition                  0.3s ease-in-out
        white-space                 nowrap

input[type=text][required]

    &:focus + label[placeholder]:before,
    &:valid + label[placeholder]:before
        transform                   translate(-2px, -1.15em) scale(0.9, 0.9)
        transition-duration         0.2s

    &:focus + label[placeholder]:before
        color                       $clickable-highlight

    &:invalid + label[placeholder][alt]:before
        content                     attr(alt)

.lp_iconizedInput + input[type=text][required] + label[placeholder]:before
    margin                          1.4em 0 0 calc(3em - 1px)


// styled radio buttons and checkboxes  --------------------------------------------------------------------------------
.ez-mark
    *display                        inline
    cursor                          pointer
    display                         inline-block
    margin-right                    0.1em
    position                        relative
    width                           1.5em
    z-index                         $zindex-elevated_1
    zoom                            1

    input[type=radio],
    input[type=checkbox]
        cursor                      pointer
        left                        -0.3rem
        opacity                     0
        position                    relative
        top                         -0.75rem

    svg
        height                      1.5em
        position                    absolute

        .frame
            fill                    $border-darker

        .frameBack
            fill                    $background-lightest

        .check
            display                 none

        .dot
            display                 none

.ez-mark :hover,
label:hover .ez-mark
    svg .frame
        fill                        $clickable-highlight

.ez-checked.ez-checkbox svg .check,
.ez-checked.ez-radio svg .dot
    display                         block
    fill                            hsl(0, 0%, 40%)

.ez-hide
    opacity                         0


// edit links ----------------------------------------------------------------------------------------------------------
.lp_editLink
    margin-left                     1em
    padding                         0.5em 0


// revenue model labels ------------------------------------------------------------------------------------------------
.lp_revenueModelLabel
    background-color                $background-darker
    border-radius                   3px
    color                           $clickable
    display                         inline-block
    font-weight                     bold
    padding                         $fs-025 $fs-05
    text-align                      center
    text-transform                  uppercase
    width                           2em

    input[type=radio]
        display                     none

label.lp_revenueModelLabel:hover
    background-color                $clickable-highlight
    color                           $text-inverse

.lp_revenueModelLabel.lp_is-disabled
    visibility                      hidden

.lp_revenueModelLabel.lp_is-selected
    background-color                $background-laterpay
    color                           $text-inverse

    &:hover
        background-color            $background-laterpay
        cursor                      default


// fieldsets -----------------------------------------------------------------------------------------------------------
fieldset
    padding                         0.5em 1em 0.8em

legend
    margin-left                     -0.5em
