// borders -------------------------------------------------------------------------------------------------------------
.lp_u_b-0
    border              0 none

.lp_u_b-1
    border              1px solid $border

.lp_u_b-2
    border              2px solid $border

.lp_u_b-r3
    border-radius       3px

.lp_u_b-r4
    border-radius       4px

.lp_u_b-embossed
    box-shadow          1px 1px 0 $border-lightest


// display -------------------------------------------------------------------------------------------------------------
.lp_u_block
    display             block

.lp_u_inline
    display             inline

.lp_u_inlineBlock
    display             inline-block

.lp_u_hide
    display             none !important


// fonts ---------------------------------------------------------------------------------------------------------------
.lp_u_fs-1
    font-size           $fs-1

.lp_u_fs-3
    font-size           $fs-3

.lp_u_bold
    font-weight         bold


// floating ------------------------------------------------------------------------------------------------------------
.lp_u_left
    float               left

.lp_u_right
    float               right

.lp_u_clearfix:after
    clear               both
    content             ' '
    display             block
    font-size           0
    height              0
    visibility          hidden


// margins -------------------------------------------------------------------------------------------------------------
.lp_u_m-0
    margin              0

.lp_u_m-1
    margin              $fs-1

// combinations
.lp_u_m-1-0
    margin              $fs-1 0

.lp_u_m-1-0-0
    margin              $fs-1 0 0

.lp_u_m-0-center
    margin              0 auto

.lp_u_m-1-center
    margin              $fs-1 auto

// top margins
.lp_u_m-t0
    margin-top          0

.lp_u_m-t025
    margin-top          $fs-025

.lp_u_m-t05
    margin-top          $fs-05

.lp_u_m-t1
    margin-top          $fs-1

.lp_u_m-t125
    margin-top          $fs-125

.lp_u_m-t2
    margin-top          $fs-2

.lp_u_m-t3
    margin-top          $fs-3

// right margins
.lp_u_m-r0
    margin-right        0

.lp_u_m-r025
    margin-right        $fs-025

.lp_u_m-r05
    margin-right        $fs-05

.lp_u_m-r1
    margin-right        $fs-1

.lp_u_m-r2
    margin-right        $fs-2

// bottom margins
.lp_u_m-b0
    margin-bottom       0

.lp_u_m-b025
    margin-bottom       $fs-025

.lp_u_m-b05
    margin-bottom       $fs-05

.lp_u_m-b1
    margin-bottom       $fs-1

.lp_u_m-b2
    margin-bottom       $fs-2

.lp_u_m-b3
    margin-bottom       $fs-3

// left margins
.lp_u_m-l0
    margin-left         0

.lp_u_m-l025
    margin-left         $fs-025

.lp_u_m-l05
    margin-left         $fs-05

.lp_u_m-l1
    margin-left         $fs-1

.lp_u_m-l2
    margin-left         $fs-2


// paddings ------------------------------------------------------------------------------------------------------------
.lp_u_pd-0
    padding             0

.lp_u_pd-05
    padding             $fs-05

.lp_u_pd-1
    padding             $fs-1

// combinations
.lp_u_pd-0-05
    padding             0 $fs-05

.lp_u_pd-0-1
    padding             0 $fs-1

.lp_u_pd-025-05
    padding             $fs-025 $fs-05

// top paddings
.lp_u_pd-t0
    padding-top         0

.lp_u_pd-t05
    padding-top         $fs-05

// right paddings
.lp_u_pd-r2
    padding-right       $fs-2

// left paddings
.lp_u_pd-l0
    padding-left        0


// position ------------------------------------------------------------------------------------------------------------
.lp_u_absolute
    position            absolute

.lp_u_relative
    position            relative

.lp_u_fixed
    position            fixed

.lp_u_top-0
    top                 0

.lp_u_right-0
    right               0

.lp_u_bottom-0
    bottom              0

.lp_u_left-0
    left                0


// text-align ----------------------------------------------------------------------------------------------------------
.lp_u_leftAlign
    text-align          left

.lp_u_rightAlign
    text-align          right

.lp_u_center
    text-align          center

.lp_u_topAlign
    vertical-align      top

.lp_u_nowrap
    white-space         nowrap


// widths --------------------------------------------------------------------------------------------------------------
.lp_u_w-1
    width               100%

.lp_u_w-4-5
    width               80%

.lp_u_w-3-4
    width               75%

.lp_u_w-2-3
    width               66.6666%

.lp_u_w-1-2
    width               50%

.lp_u_w-2-5
    width               40%

.lp_u_w-3-8
    width               37.5%

.lp_u_w-1-3
    width               33.3333%

.lp_u_w-1-4
    width               25%

.lp_u_w-1-5
    width               20%

.lp_u_w-1-6
    width               16.6666%
