// font sizes ----------------------------------------------------------------------------------------------------------
$fs-1                           = 14px

$fs-125                         = round(1.25  * $fs-1)
$fs-15                          = round(1.5   * $fs-1)
$fs-175                         = round(1.75  * $fs-1)
$fs-2                           = round(2     * $fs-1)
$fs-3                           = round(3     * $fs-1)

$fs-08                          = round(0.8   * $fs-1)
$fs-075                         = round(0.75  * $fs-1)
$fs-05                          = round(0.5   * $fs-1)
$fs-025                         = round(0.25  * $fs-1)


// colors --------------------------------------------------------------------------------------------------------------
// text colors
$text                           = hsl(0, 0%, 33%)

$text-lighter                   = hsl(0, 0%, 67%)
$text-lightest                  = hsl(0, 0%, 80%)

$text-inverse                   = hsl(0, 0%, 100%)


// colors for clickable items (links, buttons, etc.)
$clickable                      = hsl(197, 100%, 32%)
$not-clickable                  = hsl(197, 100%, 76%)
$clickable-highlight            = hsl(197, 63%, 49%)


// background colors
$background                     = hsl(0, 0%, 95%)

$background-darker              = hsl(0, 0%, 89%)

$background-lightest            = hsl(0, 0%, 100%)

$background-highlight           = hsl(51, 98%, 76%)

// LaterPay brand colors
$background-laterpay            = hsl(137, 54%, 56%)
$background-laterpay-darker     = hsl(137, 49%, 54%)

$background-laterpay-highlight  = hsl(137, 61%, 59%)


// border colors
$border                         = hsl(0, 0%, 87%)

$border-darker                  = hsl(0, 0%, 80%)
$border-darkest                 = hsl(0, 0%, 40%)

$border-lightest                = hsl(0, 0%, 98%)


// z-indexes -----------------------------------------------------------------------------------------------------------
$zindex-recessed                = -1

$zindex-base                    = 0

// elements on the base layer that need to stick out
$zindex-elevated_1              = 10
$zindex-elevated_2              = 11
$zindex-elevated_3              = 12

// elements that float over the base layer
$zindex-overlayed_1             = 100
$zindex-overlayed_2             = 110
$zindex-overlayed_3             = 120

// elements that must never be covered
$zindex-topmost_1               = 1000000
$zindex-topmost_2               = 1000010
$zindex-topmost_3               = 1000020
