// content area --------------------------------------------------------------------------------------------------------
.lp-page
    min-height              100%

.lp-wrap
    max-width               1240px
    padding                 1rem


// tabs ----------------------------------------------------------------------------------------------------------------
.tabs-area
    background-color        $background-lightest
    border-bottom           1px solid $border-darker
    box-shadow              0 1px 0 $background-lightest
    left                    -20px
    padding-top             2rem
    position                relative
    width                   101.6%

ul.tabs
    margin-left             2rem

    li
        display             inline-block
        margin-left         1.5rem
        position            relative
        top                 2px

        &:first-child
            margin-left     0

        a
            color           $text-lighter
            display         block
            font-size       1rem
            padding         0.5em 1em 0.75em
            text-decoration none

        &:hover
            a
                color       $clickable

    .current
        background-color    $background
        border-radius       4px 4px 0 0
        border-top          4px solid #0074a2

        a
            color           $text
            font-weight     600


// plugin mode indicator -----------------------------------------------------------------------------------------------
#plugin-mode-indicator
    position                absolute
    right                   7rem
    top                     0.4rem

    h2,
    i
        color               $clickable

    &:hover
        h2,
        i
            color           $clickable-highlight

    h2
        font-size           2rem

    i
        font-style          normal

    span
        color               #999

#plugin-mode-indicator[data-icon]:before
    float                   left
    font-size               4rem
    left                    -2.75rem
    line-height             0
    position                relative
    top                     1.8rem


// flash messages ------------------------------------------------------------------------------------------------------
#message
    box-shadow              0 1px 4px 0 rgba(0, 0, 0, 0.55)
    margin                  0
    opacity                 0.9
    position                absolute
    top                     1.25rem
    width                   96%
    z-index                 111


// contextual help -----------------------------------------------------------------------------------------------------
#screen-meta
    position                absolute
    z-index                 3

#contextual-help-link-wrap
    z-index                 1


// responsiveness ------------------------------------------------------------------------------------------------------
@media (max-width:1279px)
    .lp-wrap
        padding             0
