// widths --------------------------------------------------------------------------------------------------------------
.w3-4
    width               75%
.w2-3
    width               66%
.w1-2
    width               50%
.w2-5
    width               40%
.w3-8
    width               37.5%
.w1-3
    width               33%
.w1-4
    width               25%
.w1-5
    width               20%
.w1-6
    width               16.6%


// floating ------------------------------------------------------------------------------------------------------------
.left
    float               left

.right
    float               right

.clearfix:after
    clear               both
    content             ' '
    display             block
    font-size           0
    height              0
    visibility          hidden
