// headings ------------------------------------------------------------------------------------------------------------
h2,
h3
    font-weight         400
    margin              1rem 0 0.5rem
h2
    font-size           1.25rem
h3
    font-size           1rem
    margin              0


// hyperlinks ----------------------------------------------------------------------------------------------------------
.lp-page a
    text-decoration     none

// remove dotted outlines from links
.lp-page a:focus,
.lp-page a:active,
.lp-page a:visited
    outline             0 none


// lists ---------------------------------------------------------------------------------------------------------------
.lp-page ul,
.lp-page li
    list-style          none
    margin              0
    padding             0


// rules ---------------------------------------------------------------------------------------------------------------
hr
    margin              1rem 0 3rem


// explanatory texts ---------------------------------------------------------------------------------------------------
dfn
    color               #999
    font-style          italic


// svg (used by icon fonts) --------------------------------------------------------------------------------------------
.lp-page svg
    overflow            hidden
