// borders -------------------------------------------------------------------------------------------------------------
.lp_b-none
    border              0 none

.lp_b-s1
    border              1px solid $border

.lp_b-s2
    border              2px solid $border

.lp_b-r3
    border-radius       3px

.lp_b-r4
    border-radius       4px

.lp_b-emb
    box-shadow          1px 1px 0 $border-lightest


// display -------------------------------------------------------------------------------------------------------------
.lp_d-block
    display             block

.lp_d-inl
    display             inline

.lp_d-inl-block
    display             inline-block

.lp_d-none
    display             none


// fonts ---------------------------------------------------------------------------------------------------------------
.lp_fs-1
    font-size           $fs-1

.lp_fs-3
    font-size           $fs-3

.lp_fw-b
    font-weight         bold

.lp_fw-n
    font-weight         normal


// floating ------------------------------------------------------------------------------------------------------------
.lp_fl-left
    float               left

.lp_fl-right
    float               right

.lp_fl-none
    float               none

.lp_fl-clearfix:after
    clear               both
    content             ' '
    display             block
    font-size           0
    height              0
    visibility          hidden


// margins -------------------------------------------------------------------------------------------------------------
.lp_m-0
    margin              0

.lp_m-1
    margin              $fs-1

// combinations
.lp_m-1-0
    margin              $fs-1 0

.lp_m-1-0-0
    margin              $fs-1 0 0

.lp_m-0-center
    margin              0 auto

.lp_m-1-center
    margin              $fs-1 auto

// top margins
.lp_m-t0
    margin-top          0

.lp_m-t025
    margin-top          $fs-025

.lp_m-t05
    margin-top          $fs-05

.lp_m-t3
    margin-top          $fs-3

.lp_m-t1
    margin-top          $fs-1

.lp_m-t125
    margin-top          $fs-125

// right margins
.lp_m-r0
    margin-right        0

.lp_m-r05
    margin-right        $fs-05

.lp_m-r1
    margin-right        $fs-1

// bottom margins
.lp_m-b0
    margin-bottom       0

.lp_m-b025
    margin-bottom       $fs-025

.lp_m-b05
    margin-bottom       $fs-05

.lp_m-b1
    margin-bottom       $fs-1

.lp_m-b3
    margin-bottom       $fs-3

// left margins
.lp_m-l0
    margin-left         0

.lp_m-l025
    margin-left         $fs-025

.lp_m-l1
    margin-left         $fs-1

.lp_m-l2
    margin-left         $fs-2


// paddings ------------------------------------------------------------------------------------------------------------
.lp_pd-0
    padding             0

// combinations
.lp_pd-0-05
    padding             0 $fs-05

.lp_pd-0-1
    padding             0 $fs-1

.lp_pd-025-05
    padding             $fs-025 $fs-05

// top paddings
.lp_pd-t0
    padding-top         0

// right paddings
.lp_pd-r2
    padding-right       $fs-2

// left paddings
.lp_pd-l0
    padding-left        0


// position ------------------------------------------------------------------------------------------------------------
.lp_p-abs
    position            absolute

.lp_p-rel
    position            relative

.lp_p-fix
    position            fixed

.lp_p-t0
    top                 0

.lp_p-r0
    right               0

.lp_p-b0
    bottom              0

.lp_p-l0
    left                0


// text-align ----------------------------------------------------------------------------------------------------------
.lp_ta-left
    text-align          left

.lp_ta-right
    text-align          right

.lp_ta-center
    text-align          center

.lp_nowrap
    white-space         nowrap


// widths --------------------------------------------------------------------------------------------------------------
.lp_w-1
    width               100%

.lp_w-4-5
    width               80%

.lp_w-3-4
    width               75%

.lp_w-2-3
    width               66%

.lp_w-1-2
    width               50%

.lp_w-2-5
    width               40%

.lp_w-3-8
    width               37.5%

.lp_w-1-3
    width               33%

.lp_w-1-4
    width               25%

.lp_w-1-5
    width               20%

.lp_w-1-6
    width               16.6%
