// colors --------------------------------------------------------------------------------------------------------------
// text colors
$text                   = #555
$text-lighter           = #aaa
$text-lightest          = #ccc
$text-inverse           = #fff

// colors for clickable items (links, buttons, etc.)
$clickable              = #0074a2
$clickable-highlight    = #2ea2cc

// background colors
$background             = #f1f1f1
$background-lightest    = #fff
$background-darker      = #e3e3e3

// border colors
$border                 = #ddd
$border-darker          = #ccc
$border-darkest         = #666
