// font sizes ----------------------------------------------------------------------------------------------------------
$fs-1                           = 14px

$fs-125                         = 18px
$fs-15                          = 21px
$fs-2                           = 28px

$fs-08                          = 12px
$fs-05                          = 7px


// colors --------------------------------------------------------------------------------------------------------------
// text colors
$text                           = #555

$text-lighter                   = #aaa
$text-lightest                  = #ccc

$text-inverse                   = #fff


// colors for clickable items (links, buttons, etc.)
$clickable                      = #0074a2

$clickable-highlight            = #2ea2cc


// background colors
$background                     = #f1f1f1

$background-darker              = #e3e3e3

$background-lightest            = #fff

$background-highlight           = #feec88

// LaterPay brand colors
$background-laterpay            = #54cc76
$background-laterpay-darker     = #4fc270

$background-laterpay-highlight  = #58d67c


// border colors
$border                         = #ddd

$border-darker                  = #ccc
$border-darkest                 = #666

$border-lightest                = #fafafa
