// font sizes ----------------------------------------------------------------------------------------------------------
$fs-1                           = 14px

$fs-125                         = 18px
$fs-15                          = 21px
$fs-2                           = 28px
$fs-3                           = 42px

$fs-08                          = 12px
$fs-05                          = 7px
$fs-025                         = 4px


// colors --------------------------------------------------------------------------------------------------------------
// text colors
$text                           = hsl(0, 0%, 33%)

$text-lighter                   = hsl(0, 0%, 67%)
$text-lightest                  = hsl(0, 0%, 80%)

$text-inverse                   = hsl(0, 0%, 100%)


// colors for clickable items (links, buttons, etc.)
$clickable                      = hsl(197, 100%, 64%)

$clickable-highlight            = hsl(197, 77%, 80%)


// background colors
$background                     = hsl(0, 0%, 95%)

$background-darker              = hsl(0, 0%, 89%)

$background-lightest            = hsl(0, 0%, 100%)

$background-highlight           = hsl(51, 46%, 99%)

// LaterPay brand colors
$background-laterpay            = hsl(137, 59%, 80%)
$background-laterpay-darker     = hsl(137, 59%, 76%)

$background-laterpay-highlight  = hsl(137, 59%, 84%)


// border colors
$border                         = hsl(0, 0%, 87%)

$border-darker                  = hsl(0, 0%, 80%)
$border-darkest                 = hsl(0, 0%, 40%)

$border-lightest                = hsl(0, 0%, 98%)


// z-indexes -----------------------------------------------------------------------------------------------------------
$zindex-recessed                = -1

$zindex-base                    = 0

// elements on the base layer that need to stick out
$zindex-elevated_1              = 100
$zindex-elevated_2              = 110
$zindex-elevated_3              = 120

// elements that float over the base layer
$zindex-overlayed_1             = 500
$zindex-overlayed_2             = 510
$zindex-overlayed_3             = 520

// elements that must never be covered
$zindex-topmost_1               = 1000000
$zindex-topmost_2               = 1000010
$zindex-topmost_3               = 1000020
