// Widget to display LaterPay legal documents for merchants within an iframe

#lp_legal-docs-iframe
    background-color            hsl(210, 3%, 31%)
    display                     none
    position                    relative

    .lp_close-iframe
        background-color        hsl(0, 0%, 40%)
        border-radius           3px
        box-shadow              1px 1px 3px hsla(0, 0%, 0%, 0.21)
        color                   hsl(210, 3%, 31%)
        font-size               1.5em
        font-weight             600
        height                  1.5em
        line-height             1.4em
        padding                 0.5em
        position                absolute
        right                   1.667em
        text-align              center
        top                     1em
        width                   1.5em

        &:hover
            background-color    $clickable-highlight
