// pass form styles

#container
    margin-top              0.5em

.lp_passes_editor
    white-space            nowrap
    width                  720px
    padding                5px
    display                block

    div
        display            inline-block
        vertical-align     top
        width              350px
        margin             0px
        margin-left        5px
        white-space        normal

        item
            white-space    nowrap
            vertical-align center
            display        block
            padding-right  10px
            padding-top    2px
            padding-bottom 2px
            width          100%
            min-height     30px

    input
         heigh              2.0em                        !important
         font-size          0.9em
         padding            0

     select
         height             2.4em                        !important
         font-size          0.8em
         margin-top         3px

.lp_toggle_label_pass
    width                   2em                          !important
    height                  1em                          !important

    .lp_toggle_text
         background-color   #999                         !important

    .lp_toggle_handle
         height             0.9em                        !important
         width              0.9em                        !important
         margin-top         -1px
         color              #666                         !important
         margin-left        -3px                         !important

.lp_toggle_label_pass
      .lp_toggle_input:checked
         ~ .lp_toggle_handle
               margin-right -3px                         !important

.wp-color-result
    height                  20px                         !important
    margin                  0px                          !important
    top                     2px                          !important
    padding-left            10px                         !important
    z-index                 999

#lp_js_passValidAmount,
#lp_js_passValidNumber
    width                   50px !important

#lp_js_passDescription
    height                  60px

#lp_passTitle,
#lp_js_passDescription,
#lp_passBackground
    position                absolute
    left                    470px
    width                   220px                        !important

// color picker
.lp-color-picker-container
    position                absolute
    left                    695px
    display                 inline-block

.wp-picker-open
    display                 none                         !important

.iris-picker
    z-index                 99999

input[type=text].lp_inputShort,
input[type=number].lp_inputShort
    width                   50px                          !important
    padding                 0px
    text-align              right

#lp_js_passAccessTo
    width                   260px                         !important

#lp_js_passCat
    width                   260px !important
