// 'Dashboard' tab in plugin backend


// Heading -------------------------------------------------------------------------------------------------------------
h1 {
    font-weight:                    400;
    margin:                         $fs-2 0 $fs-1;
    position:                       relative;
    text-align:                     center;

    .lp_prevNextLink {
        display:                    inline-block;
        height:                     1.5em;
        padding:                    0 $fs-05;
        position:                   relative;
        vertical-align:             text-top;
        width:                      $fs-125;

        &:hover {
            .lp_triangle--right {
                border-left-color:  $clickable-highlight;
            }

            .lp_triangle--left {
                border-right-color: $clickable-highlight;
            }
        }

        &.lp_is-disabled {
            display: none;
        }
    }

    .lp_triangle {
        border:                     $fs-08 solid $clickable;
        top:                        0.25em;
    }

    .lp_triangle--right {
        border-color:               transparent transparent transparent $clickable;
        left:                       inherit;
        right:                      0; /* correct visual weight of triangle */
    }

    .lp_triangle--left {
        border-color:               transparent $clickable transparent transparent;
        left:                       -3px; /* correct visual weight of triangle */
    }
}


// Diagrams ------------------------------------------------------------------------------------------------------------
.lp_u_w-1-3 {
    float:                          left;

    h2 {
        margin:                     $fs-1 0 0.4em;
        text-align:                 center;
    }
}

.lp_dashboardGraph {
    height:                         15 * $fs-1;
    margin:                         0 $fs-1 0 0;
}

/*
 * 1. Center flot tick labels horizontally below data point
 */
.flot-x-axis div {
    margin-left -1px; /* 1 */
}

.lp_dashboardGraph + .lp_statisticsRow {
    margin:                         $fs-075 $fs-1 $fs-125 0;
}

/* statistics rows */
.lp_statisticsRow {
    background:                     $background-darker;
    border-radius:                  3px;
    margin:                         $fs-1 $fs-1 $fs-1 0;

    ul {
        margin:                     0 $fs-05 0 0;
        padding:                    0;
    }

    li {
        border-right:               1px solid $background;
        color:                      $text-lighter;
        float:                      left;
        list-style-type:            none;
        margin:                     $fs-025 0;
        padding:                    $fs-05 $fs-05 0 $fs-075;
        text-align:                 right;

        &:last-child {
            border:                 0 none;
        }
    }

    big {
        color:                      $text;
        display:                    block;
        font-size:                  $fs-15;
    }

    small,
    big small {
        color:                      $text-lighter;
        font-size:                  $fs-1;
    }

    big small {
        font-size:                  0.667em;
        line-height:                0.667;
        padding:                    0 0 0 2px;
    }
}


// Top / bottom lists --------------------------------------------------------------------------------------------------
/**
 * 1. Render lists with a default min-height that accommodates 10 items
 */
.lp_topBottomList {
    min-height:                     17em; /* 1 */
    margin:                         0 $fs-1 $fs-1 0;
    padding:                        0;

    li {
        clear:                      left;
        list-style-type:            none;
        padding:                    2px 0 2px;

        &:hover {
            background-color:       $background-highlight;
            border-radius:          3px;
        }
    }

    i {
        display:                    block;
        font-style:                 normal;
        overflow:                   hidden;
        text-overflow:              ellipsis;
        white-space:                nowrap;
    }

    a {
        display:                    block;
    }

    .lp_sparklineBar {
        color:                      transparent;
    }

    .peity {
        float:                      right;
        margin:                     0 $fs-1;
    }

    .lp_value {
        color:                      $text-lighter;
        float:                      left;
        margin:                     0 0.4em 0 0;
        text-align:                 right;
        width:                      round(4.5 * $fs-1);

        small {
            color:                  $text-lightest;
            font-size:              $fs-08;
            line-height:            1;
            padding:                0 0 0 2px;
        }
    }

    .lp_value-narrow {
        width:                      3 * $fs-1;
    }
}

.lp_topBottomList__empty-state {
    display: inline-block;
    margin-top: 7em;
    text-align: center;
    width: 100%;
}


// Post-specific statistics --------------------------------------------------------------------------------------------
.lp_post-statistics__container {

    &.lp_is-hidden {
        display: none;
    }
}


// Time pass customer lifecycle statistics -----------------------------------------------------------------------------
.lp_time-pass-lifecycle {
    margin-bottom: $fs-2;

    /* separate the different graphs with a border */
    &:nth-child(n+3) {
        border-top: 1px solid $border;
    }

    .lp_statisticsRow ul {
        margin-left: $fs-05;

        & + ul {
            border-top: 1px solid $background;
        }
    }
}

.lp_time-pass-diagram__label {
    background: $background;
    color: $text-lighter;
    font-size: 10px;
    line-height: 1.4;
    padding: 0.5em;
    position: absolute;
    text-align: center;
    white-space: nowrap;
}

.lp_time-pass-diagram__sum {
    background: $background;
    color: $text;
    font-size: $fs-15;
    line-height: 1.4;
    padding: 0 5px;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    width: 40px;
}


// Responsiveness ------------------------------------------------------------------------------------------------------
@media (max-width:1050px) {
    // TODO
}
