// 'Pricing' tab in plugin backend

// enabled revenue models ----------------------------------------------------------------------------------------------
.lp_enabled-revenue-models {
    background: $background-darker;
    border-radius: 3px;
    margin-top: $fs-1;
    margin-bottom: $fs-1;
    padding: $fs-1;
}


// price type sections -------------------------------------------------------------------------------------------------
ul.lp_row h2 + hr {
    height:                 2px;
}

ul.lp_row li:nth-child(1) h2 + hr {
    background-color:       hsl(0, 0%, 83%);
}

ul.lp_row li:nth-child(2) h2 + hr {
    background-color:       hsl(0, 0%, 65%);
}

ul.lp_row li:nth-child(3) h2 + hr {
    background-color:       hsl(0, 0%, 46%);
}

.lp_spacer {
    height:                 2.4em;
}

.lp_revenueModel {
    width:                  3.5em;
}

span.lp_revenueModelLabel {
    background-color:       hsl(0, 0%, 83%);
    color:                  $text-inverse;
    padding:                1px $fs-025;
}


// category default prices ---------------------------------------------------------------------------------------------
.select2-container,
.select2-drop,
.select2-search,
.select2-search input {
    margin-bottom:          32px;
    width:                  10rem;
}

.lp_categoryTitle {
    min-width:              8.75em;
}


// time passes ---------------------------------------------------------------------------------------------------------
.lp_addTimePass.button {
    margin-bottom:          $fs-1;
}

.lp_timePassWrapper {
    background:             $background-darker;
    border-radius:          3px;
    margin-bottom:          $fs-1;
    margin-left:            round(2.5 * $fs-1);
    padding:                $fs-1;
    position:               relative;

    .lp_timePass__idWrapper {
        background: $background-darker;
        border-radius: 4px 0 0 4px;
        left: - round(3.5 * $fs-1);
        line-height: 1.2;
        padding: $fs-05 $fs-025;
        position: absolute;
        text-align: center;
        width: $fs-3;
    }

    .lp_timePass__id {
        font-size: $fs-2;
    }

    .lp_timePass {
        margin-bottom: 0;
    }
}

.lp_timePass_editorContainer {
    display:                inline-block;
    vertical-align:         top;

    .lp_timePass_formColumn {
        display:            inline-block;
        margin-right:       $fs-2;
        vertical-align:     top;

        td {
            padding:        0;
            vertical-align: middle;
        }

        .lp_rowspan-label {
            padding-top: $fs-05;
            vertical-align: top;
        }
    }

    .lp_timePass_descriptionInput {
        height:             4.75em;
    }

    .lp_saveLink {
        margin-top:         1em;
        margin-left:        0.5em;
    }

    .lp_toggle_label_pass {
        width:              3.5em;

        .lp_toggle_input:checked ~ .lp_toggle_text {
            background:     hsl(0, 0%, 80%);
        }
    }
}

// voucher editor
.lp_voucherRow {
    margin-top:             $fs-05;
    margin-right:           $fs-1;
}

.lp_voucherList .lp_voucherRow {
    float:                  left;
}


// bulk price editor ---------------------------------------------------------------------------------------------------
.button.button-primary.lp_u_m-l2 {
    margin-left:            $fs-2;
}

/**
 * 1. Remove arrows from select
 */
select.lp_is-disabled {
    appearance:             none; /* 1 */
    background-color:       transparent;
    border-color:           transparent;
    color:                  hsl(0, 0%, 20%);


    &::-ms-expand {
        display:            none; /* 1 - IE */
    }
}

.lp_bulkOperation {
    width:                  600px;

    span {
        line-height:        2.25em;
    }

    a {
        float:              right;
    }
}


// responsiveness ------------------------------------------------------------------------------------------------------
@media (max-width:1279px) {
    .lp_editLink {
        margin-left:        $fs-05;
    }

    ul.lp_row li:nth-child(3) br {
        display:            none;
    }
}
