// 'Pricing' tab in plugin backend

// price type sections -------------------------------------------------------------------------------------------------
ul.lp_row h2 + hr
    height                  2px

ul.lp_row li:nth-child(1) h2 + hr
    background-color        hsl(0, 0%, 83%)

ul.lp_row li:nth-child(2) h2 + hr
    background-color        hsl(0, 0%, 65%)

ul.lp_row li:nth-child(3) h2 + hr
    background-color        hsl(0, 0%, 46%)

.lp_spacer
    height                  2.4em

.lp_revenueModel
    width                   3.5em

span.lp_revenueModelLabel
    background-color        hsl(0, 0%, 83%)
    color                   $text-inverse
    padding                 1px $fs-025


// category default prices ---------------------------------------------------------------------------------------------
.select2-container,
.select2-drop,
.select2-search,
.select2-search input
    margin-bottom           32px
    width                   10rem

.lp_categoryTitle
    min-width               8.75em


// time passes ---------------------------------------------------------------------------------------------------------
.lp_addTimePass.button
    margin                  $fs-1 $fs-1 $fs-1 0

.lp_timePass_editorContainer
    float                   left

    .lp_timePass_formColumn
        float               left
        margin-right        $fs-2

    .lp_timePass_formRow
        margin-bottom       $fs-05

    .lp_timePass_label
        white-space         nowrap

    .lp_timePass_descriptionInput
        height              3em

    .lp_saveLink
        margin-top          1em
        margin-left         0.5em

    .lp_toggle_label
        width               3.5em

    .lp_colorPicker
        float               right

        .wp-picker-holder
            position        absolute
            z-index         $zindex-overlayed_2

    .lp_timePassEditor_colorInput
        // ...

.wp-picker-open
    display                 none

.wp-color-result
    height                  calc(2em + 4px)
    padding-left            $fs-1
    z-index                 $zindex-overlayed_1

.iris-picker
    z-index                 $zindex-overlayed_1

// voucher editor
.lp_voucherEditor
    border-top              1px solid $border
    margin-top              $fs-1
    padding                 $fs-1 0

    .button-primary
        margin-left         $fs-05

    .lp_voucherRow
        margin-bottom       $fs-05


// bulk price editor ---------------------------------------------------------------------------------------------------
.button.button-primary.lp_u_m-l2
    margin-left             $fs-2

.lp_bulkPriceUnit.lp_is-disabled
    appearance              none    // remove arrows from select
    background-color        transparent
    border-color            transparent
    color                   hsl(0, 0%, 20%)

    // remove arrows from select in IE
    &::-ms-expand
        display             none

.lp_bulkOperation
    width                   600px

    span
        line-height         2.25em

    a
        float               right


// responsiveness ------------------------------------------------------------------------------------------------------
@media (max-width:1279px)
    .lp_editLink
        margin-left        $fs-05

    ul.lp_row li:nth-child(3) br
        display            none
