// post statistics pane

// statistics pane header with LaterPay vector logo --------------------------------------------------------------------
.lp_post-statistics,
.lp_post-statistics h2
    font-family                     'Helvetica Neue', Helvetica, Arial, sans-serif

.lp_post-statistics
    background-color                hsl(0, 0%, 90%)
    border-radius                   0 0 0 3px
    box-shadow                      -1px 1px 6px hsla(0, 0%, 0%, 0.34)
    color                           hsl(0, 0%, 33%)
    font-size                       14px
    line-height                     1.5
    padding                         7px 5px 0 0
    position                        fixed
    right                           -5px
    top                             8em
    width                           333px
    z-index                         $zindex-overlayed_1
    transition                      0.25s ease-in-out

    h2
        font-size                   1.25em
        font-weight                 400
        line-height                 1
        margin                      0.4em 0 0.8em 6.75em

        &:before
            display                 block
            font-size               6em
            height                  0
            left                    -1.03em
            line-height             0
            position                relative
            top                     0.075em

    // toggle visibility of statistics pane --------------------------------------------------------------------------------
    .lp_post-statistics-visibility-toggle
        background-color            hsl(0, 0%, 90%)
        border-radius               3px 0 0 3px
        height                      45px
        left                        0
        position                    absolute
        text-align                  center
        text-decoration             none
        top                         0
        width                       45px
        transition                  0.25s ease-in-out

        &:before
            font-size               25px
            line-height             42px
            opacity                 0
            padding-left            0.25em
            position                relative
            transition              0.1s ease-in-out

    &:hover
        // reveal link for hiding the statistics pane when it is hovered
        .lp_post-statistics-visibility-toggle
            left                    -45px

            &:before
                opacity             1
                transition          0.25s ease-in-out 0.1s

    // remove dotted outline and box shadows from .lp_post-statistics-visibility-toggle link
    .lp_post-statistics-visibility-toggle,
    &:focus,
    &:active,
    &:visited
        box-shadow                  none
        outline                     0 none

// hidden statistics pane
.lp_post-statistics.lp_is_hidden
    right                           -345px

    .lp_post-statistics-visibility-toggle
        box-shadow                  -1px 1px 6px hsla(0, 0%, 0%, 0.34)
        left                        -55px
        text-align                  left
        width                       54px

        &:before
            content                 'b'
            font-size               45px
            line-height             45px
            padding-left            0
            opacity                 1
            top                     2px


// statistics pane body with actual post statistics --------------------------------------------------------------------
.lp_post-statistics
    // values of key performance indicators (KPI)
    big
        color                       hsl(0, 0%, 33%)
        font-size                   2em
        line-height                 1

        small
            display                 inline
            font-size               0.375em
            padding-left            2px

    small
        display                     block
        font-size                   0.75em
        line-height                 1

    // details column, showing data for last 30 days
    .lp_post-statistics-details
        margin                      0 0 0 0.75em

        ul
            list-style-type         none
            margin                  0
            padding                 0

        li
            display                 inline-block
            font-size               1em
            margin                  1em 0 0
            padding                 0.5em 0 0
            text-align              right
            width                   37%

            &:first-child
                margin-left         0
                width               59%

            .lp_sparkline-bar,
            .lp_sparkline-background-bar
                color               transparent

            svg.peity
                border-bottom       1px solid hsl(0, 0%, 60%)
                padding             0 3px
                position            relative
                z-index             $zindex-elevated_2

            .lp_sparkline-background-bar + svg.peity
                border              0 none
                left                0.92em
                position            absolute
                z-index             $zindex-elevated_1

            big
                font-size           1.5em

                small
                    font-size       0.5em

    // totals column, showing current day's data
    .lp_post-statistics-totals
        background-color            $background-lightest

        ul
            list-style-type         none
            margin                  0
            padding                 0

        li
            display                 inline-block
            font-size               1em
            margin                  0
            padding                 0.65em 0 0.75em
            text-align              right
            width                   44%

            &:first-child
                width               52%

    // separator between different KPI
    .lp_post-statistics-separator
        margin                      1em 0 -2em 0.75em

        ul
            list-style-type         none
            margin                  0
            padding                 0

        li
            display                 inline-block
            font-size               1em
            margin                  0 0 0 2%
            padding                 0
            text-align              center
            width                   34%

            &:first-child
                margin-left         0
                width               60%

        p
            background-color        hsl(0, 0%, 90%)
            display                 inline
            font-size               0.75em
            margin                  0
            padding                 0 0.5em
            position                relative
            z-index                 $zindex-overlayed_3

        hr
            background              hsl(0, 0%, 73%) none
            border                  0 none
            height                  1px
            margin                  1em 0 0.5em
            position                relative
            top                     -1.66em
            z-index                 $zindex-overlayed_2

    small,
    .lp_post-statistics-separator p
        color                       hsl(0, 0%, 60%)


// statistics pane footer with toggle for previewing post as visitor or as admin ---------------------------------------
.lp_post-statistics .lp_plugin-preview-mode
    background-color                hsl(47, 100%, 50%)
    border-radius                   0 0 0 3px
    margin                          7px 0 0
    padding                         1em 0.75em 0.66em


// Chrome browser hack -------------------------------------------------------------------------------------------------
@media screen and (-webkit-min-device-pixel-ratio:0)
    .lp_post-statistics .lp_post-statistics-details .lp_sparkline-background-bar + svg.peity
        margin-top                  -48px
