// iOS-style toggle rendered from a checkbox

.switch
    display                         inline-block
    margin                          0 0.25em
    position                        relative
    top                             -0.25em
    vertical-align                  middle

    form
        margin                      0

    // frame
    .switch-label
        background-color            $background-lightest
        background-image            -webkit-linear-gradient(top, #eee, $background-lightest 25px)
        background-image            linear-gradient(to bottom, #eee, $background-lightest 25px)
        border-radius               1rem
        box-shadow                  inset 0 -1px $background-lightest,
                                    inset 0 1px 1px rgba(0, 0, 0, 0.05)
        cursor                      pointer
        display                     inline-block
        height                      1.75em
        margin                      0.25em 0.25em 0
        padding                     0.25em
        position                    relative
        vertical-align              top
        width                       5em

        .switch-input
            left                    0
            opacity                 0
            position                absolute
            top                     0

        // text within toggle
        .switch-text
            background-color        #ccccd1
            border-radius           inherit
            box-shadow              inset 0 1px 2px rgba(0, 0, 0, 0.12),
                                    inset 0 0 2px rgba(0, 0, 0, 0.15)
            display                 block
            font-size               10px
            height                  100%
            position                relative
            text-transform          uppercase
            -webkit-transition-property opacity background
                    transition-property opacity background
            -webkit-transition  0.15s ease-out
                    transition  0.15s ease-out

            &:before,
            &:after
                color               $text-inverse
                font-size           1.25em
                font-weight         600
                line-height         1
                margin-top          -0.5em
                position            absolute
                top                 50%
                -webkit-transition  inherit
                        transition  inherit

            // 'off'-text
            &:before
                content             attr(data-off)
                right               0.75em

            // 'on'-text
            &:after
                content             attr(data-on)
                left                0.75em
                opacity             0

        // toggle knob
        .switch-handle
            background-color        $background-lightest
            background-image        -webkit-linear-gradient(top, $background-lightest 40%, #f0f0f0)
            background-image        linear-gradient(to bottom, $background-lightest 40%, #f0f0f0)
            border-radius           1em
            box-shadow              1px 1px 5px rgba(0, 0, 0, 0.2)
            height                  1.55em
            left                    0.35em
            position                absolute
            top                     0.35em
            -webkit-transition      left 0.15s ease-out
                    transition      left 0.15s ease-out
            width                   1.55em

            &:before
                background-color    #e9e9e9
                background-image    -webkit-linear-gradient(top, #f5f5f5, #e5e5e5)
                background-image    linear-gradient(to bottom, #f5f5f5, #e5e5e5)
                border-radius       50%
                box-shadow          inset 0 1px rgba(0, 0, 0, 0.02)
                content             ''
                height              1.1em
                left                50%
                margin              -0.55em 0 0 -0.55em
                position            absolute
                top                 50%
                width               1.1em

        // show 'on'-state when checked
        .switch-input
            &:checked ~ .switch-text
                background-color    #4fc270
                box-shadow          inset 0 1px 2px rgba(0, 0, 0, 0.15),
                                    inset 0 0 3px rgba(0, 0, 0, 0.2)

                &:before
                    opacity         0

                &:after
                    opacity         1


            &:checked ~ .switch-handle
                box-shadow          -1px 1px 5px rgba(0, 0, 0, 0.2)
                left                auto
                right               0.4em
