// Loaded in WordPress admin section

@import 'modules/vector-icons'


// display the LaterPay logo from the LaterPay icon font in the admin menu
#adminmenu div.wp-menu-image.dashicons-laterpay-logo:before
    content             'b'
    font                400 33px/0.6 'laterpay-wordpress-icons' !important
    left                -5px
    position            relative


// style custom columns in posts table
.column-post_price
    text-align          right
    width               75px

.column-post_price span
    color               #aaa
