// Loaded on add / edit post pages

@charset "UTF-8";

@import 'modules/variables'
@import 'modules/tags'          // FIXME: tags in tags.styl are currently prefixed in .lp_pagewrap
@import 'modules/utilities'
@import 'modules/forms'
@import 'modules/vector-icons'

@import 'widgets/dynamic-pricing'

@import 'pages/post-edit'       // FIXME: several tags in post-edit.styl should inherit styles from tags.styl
