// Loaded on 'Get Started' tab in LaterPay plugin backend

@charset "UTF-8";

@import 'modules/variables'
@import 'modules/polyfills'
@import 'modules/tags'
@import 'modules/utilities'
@import 'modules/forms'
@import 'modules/vector_icons'
@import 'modules/backend_layout'

@import 'pages/getstarted'
