// Loaded on view post pages

@charset "UTF-8";

@import 'modules/variables'
@import 'modules/tags'          // FIXME: tags in tags.styl are currently prefixed in .lp-wrap
@import 'modules/utilities'
@import 'modules/vector-icons'

@import 'widgets/toggle'
@import 'widgets/post-statistics'
@import 'widgets/purchase-button'
@import 'widgets/dialogs-iframe'

@import 'pages/post-view'


// override a few default settings of the switch
.switch label.switch-label
    width                   4em

    .switch-input:checked ~ .switch-text
        background-color    #ccccd1
