// Loaded on backend pages of LaterPay plugin

@charset "UTF-8";

@import 'modules/variables'
@import 'modules/tags'
@import 'modules/utilities'
@import 'modules/forms'
@import 'modules/vector-icons'
@import 'modules/backend-layout'

@import 'widgets/toggle'

@import 'pages/get-started'
@import 'pages/pricing'
@import 'pages/appearance'
@import 'pages/account'
