// Loaded on add / edit post pages

@charset "UTF-8";

@import 'modules/variables'
@import 'modules/polyfills'
@import 'modules/utilities'
@import 'modules/forms'
@import 'modules/vector_icons'
@import 'modules/tooltips'

@import 'widgets/dynamic-pricing'

@import 'pages/post_edit'
