// Loaded in WordPress admin section

@charset "UTF-8";

@import 'modules/variables'
@import 'modules/vector_icons'


// display the LaterPay logo from the LaterPay icon font in the admin menu
#adminmenu div.wp-menu-image.dashicons-laterpay-logo:before
    content             'b'                         !important
    font-family         laterpay-wordpress-icons    !important
    font-size           33px                        !important
    font-weight         400                         !important
    line-height         0.6                         !important
    left                -5px                        !important
    position            relative                    !important


// style custom columns in posts table
.column-post_price
    text-align          right
    width               75px

.column-post_price span
    color               $text-lighter
