// Loaded when using debug mode with option to render log messages as HTML

@charset "UTF-8";

@import 'modules/variables'
@import 'modules/polyfills'
@import 'modules/tags'
@import 'modules/utilities'
@import 'modules/vector_icons'

@import 'widgets/debugger'
