// content area --------------------------------------------------------------------------------------------------------
.lp_page {
    min-height: 100%;
}

.lp_pagewrap {
    max-width: $fs * 88;
    padding: $fs;
}


// plugin mode indicator -----------------------------------------------------------------------------------------------
.lp_plugin-mode-indicator {
    position: absolute;
    right: $fs * 7; // leave sufficient space for contextual help link
    top: $fs--025;

    // LaterPay logo (rendered in pseudo element from icon font)
    &:before {
        float: left;
        font-size: $fs * 4;
        left: -2.75rem;
        line-height: 0;
        position: relative;
        top: 1.8rem;
    }

    .lp_plugin-mode-indicator__title {
        color: $clickable;
        font-size: $fs--2;
    }

    &:active,
    &:focus,
    &:hover {

        &:before,
        .lp_plugin-mode-indicator__title,
        i {
            color: $clickable--highlight;
        }
    }

    i {
        color: $clickable;
        font-style: normal;
    }

    .lp_plugin-mode-indicator__text {
        color: $text--lighter;
    }
}


// flash messages ------------------------------------------------------------------------------------------------------
.lp_flash-message {
    box-shadow: 0 1px 4px 0 hsla(0, 0%, 0%, 0.55);
    margin: 0;
    @include opacity(0.9);
    position: fixed; // always show flash message at top of screen, even if page is scrolled down
    top: 2.5rem;
    width: 96%;
    z-index: $zindex--overlayed-1;
}


// contextual help -----------------------------------------------------------------------------------------------------
#screen-meta { // WordPress selector
    position: absolute;
    z-index: $zindex--elevated-1;
}

#contextual-help-link-wrap { // WordPress selector
    z-index: $zindex--elevated-2;
}


// Responsiveness ------------------------------------------------------------------------------------------------------
@media (max-width:1279px) {
    .lp_pagewrap {
        padding: 0;
    }
}
