/**
 * Dropdown component
 */

.lp_dropdown {
    cursor: pointer;
    display: inline-block;
    position: relative;

    /* upward-pointing arrow */
    .lp_triangle {
        border: 13px solid $background--lightest;
        border-color: transparent transparent $background--lightest transparent;
        height: 0;
        left: -13px;
        position: absolute;
        top: -10px;
        width: 0;
        z-index: $zindex--elevated-2;


        /* border for upward-pointing arrow */
        &.lp_triangle--outer-triangle {
            border-bottom-color: $border;
            border-width: 14px;
            left: 50%;
            margin-left: -14px;
            top: -28px;
            z-index: $zindex--elevated-1;
        }
    }
}

.lp_dropdown__current-item {
	color: $clickable;
}


/* Reveal dropdown_list on hover or when state class 'is-expanded' is added */
.lp_dropdown:hover,
.lp_dropdown.lp_is-expanded {

    .lp_dropdown__list {
        display: block;
    }
}

.lp_dropdown__list {
    background: $background--lightest;
    border: 2px solid $border;
    border-radius: 3px;
    display: none;
    left: 50%;
    margin-left: -3em;
    padding: $fs--05;
    position: absolute;
    top: (3 * $fs);
    width: 6em;
    z-index: $zindex--overlayed-1;
}

.lp_dropdown__item {
    display: block;
    line-height: 1;
    padding: $fs--05;
    white-space: nowrap;


	/**
	 * Highlight the selected item and remove all styling that makes it look as if you could interact with it
	 */
	&.lp_is-selected {
		color: $text--lighter;

		&:hover {
			color: $text--lighter;
			cursor: default;
		}
	}
}
