/**
 * Display large KPI (key performance indicator).
 *
 */

.lp_kpi__row {
    @extend %clearfix;

    background: $background;
    border-radius: $border-radius;
    display: inline-block;
}

.lp_kpi {
    font-size: $fs--05;

    > div {
        color: $text--lighter;
        float: right;
        min-height: 4rem;
        padding: 0.5em 1em;
        text-align: right;
    }

    &:last-child > div {
        border: 0;
    }

    big {
        color: $text;
        display: block;
        font-size: $fs--15;
        line-height: 0.8;
        padding: $fs--025 0;

        small {
            padding-left: 2px;
        }
    }

    small,
    big small {
        color: $text--lighter;
        font-size: $fs;
    }

    p {
        margin: 0;
    }
}

.lp_unit {
    color: $text--lighter;
    padding-left: 4px;
    padding-left: 0.5ch;
}
