/**
 * Display large KPI (key performance indicator).
 *
 */

.lp_kpi__row {
    @extend %clearfix;

    background: $background;
    border-radius: $border-radius;
    display: inline-block;
}

.lp_kpi {
    color: $text--lighter;
    float: right;
    font-size: $fs--08;
    padding: $fs--05 $fs;
    text-align: right;

    &:last-child {
        border: 0;
    }

    p {
        margin: 0;
    }
}

.lp_kpi__value {
    color: $text;
    display: block;
    font-size: $fs--15;
    line-height: 0.8;
    padding: $fs--025 0;

    .lp_kpi__text {
        padding-left: 2px;
    }
}

.lp_kpi__text {
    color: $text--lighter;
    font-size: $fs--08;
}

.lp_unit {
    color: $text--lighter;
    padding-left: 4px;
    padding-left: 0.5ch;
}
