// borders -------------------------------------------------------------------------------------------------------------
.lp_border--0 {
    border: 0 none;
}

.lp_border {
    border: 1px solid $border;
}

.lp_border-radius {
    border-radius: 3px;
}

.lp_embossed {
    box-shadow: 1px 1px 0 $border--lightest;
}


// display -------------------------------------------------------------------------------------------------------------
.lp_block {
    display: block;
}

.lp_inline {
    display: inline;
}

.lp_inline-block {
    display: inline-block;
}

.lp_hidden {
    display: none !important;
}


// fonts ---------------------------------------------------------------------------------------------------------------
.lp_fs {
    font-size: $fs;
}

.lp_fs--3 {
    font-size: $fs--3;
}

.lp_bold {
    font-weight: bold;
}


// floating ------------------------------------------------------------------------------------------------------------
.lp_left {
    float: left;
}

.lp_right {
    float: right;
}

.lp_clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}


// margins -------------------------------------------------------------------------------------------------------------
.lp_m--0 {
    margin: 0;
}

.lp_m {
    margin: $fs;
}


// combinations
.lp_m-0 {
    margin: $fs 0;
}

.lp_m-0-0 {
    margin: $fs 0 0;
}

.lp_m--0-center {
    margin: 0 auto;
}

.lp_m-center {
    margin: $fs auto;
}


// top margins
.lp_u_m-t0 {
    margin-top: 0;
}

.lp_u_m-t025 {
    margin-top: $fs--025;
}

.lp_u_m-t05 {
    margin-top: $fs--05;
}

.lp_u_m-t1 {
    margin-top: $fs;
}

.lp_u_m-t125 {
    margin-top: $fs--125;
}

.lp_u_m-t2 {
    margin-top: $fs--2;
}

.lp_u_m-t3 {
    margin-top: $fs--3;
}


// right margins
.lp_u_m-r0 {
    margin-right: 0;
}

.lp_u_m-r025 {
    margin-right: $fs--025;
}

.lp_u_m-r05 {
    margin-right: $fs--05;
}

.lp_u_m-r1 {
    margin-right: $fs;
}

.lp_u_m-r2 {
    margin-right: $fs--2;
}


// bottom margins
.lp_u_m-b0 {
    margin-bottom: 0;
}

.lp_u_m-b025 {
    margin-bottom: $fs--025;
}

.lp_u_m-b05 {
    margin-bottom: $fs--05;
}

.lp_u_m-b1 {
    margin-bottom: $fs;
}

.lp_u_m-b2 {
    margin-bottom: $fs--2;
}

.lp_u_m-b3 {
    margin-bottom: $fs--3;
}


// left margins
.lp_u_m-l0 {
    margin-left: 0;
}

.lp_u_m-l025 {
    margin-left: $fs--025;
}

.lp_u_m-l05 {
    margin-left: $fs--05;
}

.lp_u_m-l1 {
    margin-left: $fs;
}

.lp_u_m-l2 {
    margin-left: $fs--2;
}


// paddings ------------------------------------------------------------------------------------------------------------
.lp_u_pd-0 {
    padding: 0;
}

.lp_u_pd-05 {
    padding: $fs--05;
}

.lp_u_pd-1 {
    padding: $fs;
}


// combinations
.lp_u_pd-0-05 {
    padding: 0 $fs--05;
}

.lp_u_pd-0-1 {
    padding: 0 $fs;
}

.lp_u_pd-025-05 {
    padding: $fs--025 $fs--05;
}


// top paddings
.lp_u_pd-t0 {
    padding-top: 0;
}

.lp_u_pd-t05 {
    padding-top: $fs--05;
}


// right paddings
.lp_u_pd-r2 {
    padding-right: $fs--2;
}


// left paddings
.lp_u_pd-l0 {
    padding-left: 0;
}


// position ------------------------------------------------------------------------------------------------------------
.lp_absolute {
    position: absolute;
}

.lp_relative {
    position: relative;
}

.lp_u_top-0 {
    top: 0;
}

.lp_right-0 {
    right: 0;
}

.lp_u_bottom-0 {
    bottom: 0;
}

.lp_left-0 {
    left: 0;
}


// text-align ----------------------------------------------------------------------------------------------------------
.lp_text-align--center {
    text-align: center;
}


// widths --------------------------------------------------------------------------------------------------------------
.lp_1 {
    width: 100%;
}

.lp_4/5 {
    width: 80%;
}

.lp_3/4 {
    width: 75%;
}

.lp_2/3 {
    width: 66.6666%;
}

.lp_1/2 {
    width: 50%;
}

.lp_2/5 {
    width: 40%;
}

.lp_3/8 {
    width: 37.5%;
}

.lp_1/3 {
    width: 33.3333%;
}

.lp_1/4 {
    width: 25%;
}

.lp_1/5 {
    width: 20%;
}

.lp_1/6 {
    width: 16.6666%;
}
