// font sizes ----------------------------------------------------------------------------------------------------------
$fs:                        14px;
$fs--125:                   round(1.25 * $fs);
$fs--15:                    round(1.5 * $fs);
$fs--175:                   round(1.75 * $fs);
$fs--2:                     2 * $fs;
$fs--3:                     3 * $fs;
$fs--08:                    round(0.8 * $fs);
$fs--075:                   round(0.75 * $fs);
$fs--05:                    round(0.5 * $fs);
$fs--025:                   round(0.25 * $fs);


// colors --------------------------------------------------------------------------------------------------------------
// text colors
$text:                      hsl(0, 0%, 33%);

$text--lighter:             lighten($text, 34%);
$text--lightest:            lighten($text, 47%);

$text--inverse:             hsl(0, 0%, 100%);


// colors for clickable items (links, buttons, etc.)
$clickable:                 hsl(197, 100%, 32%);

$clickable--highlight:      desaturate(lighten($clickable, 11%), 37%);


// background colors
$background:                lighten($text, 62%);

$background--darker:        darken($background, 6%);

$background--lightest:      lighten($background, 67%);

$background--highlight:     hsl(51, 98%, 76%);


// LaterPay brand colors
$laterpay-brand:            hsl(138, 54%, 55%);

$laterpay-brand--darker:    desaturate(darken($laterpay-brand, 2%), 5%);

$laterpay-brand--highlight: saturate(lighten($laterpay-brand, 3%), 7%);


// border colors
$border:                    lighten($text, 44%);

$border--darker:            darken($border, 7%);
$border--darkest:           darken($border, 47%);

$border--lightest:          lighten($border, 11%);


// border radii --------------------------------------------------------------------------------------------------------
$border-radius:             3px;


// z-indexes -----------------------------------------------------------------------------------------------------------
$zindex:                    0;
$zindex--recessed:          -1;


// elements on the base layer that need to stick out
$zindex--elevated-1:        10;
$zindex--elevated-2:        11;
$zindex--elevated-3:        12;


// elements that float over the base layer
$zindex--overlayed-1:       100;
$zindex--overlayed-2:       110;
$zindex--overlayed-3:       120;


// elements that must never be covered
$zindex--topmost-1:         1000000;
$zindex--topmost-2:         1000010;
$zindex--topmost-3:         1000020;
