/**
 * Dropdown component
 */

.lp_dropdown
    display                 inline-block
    position                absolute

    .lp_dropdown_currentItem
        color               $clickable

.lp_dropdown:hover,
.lp_dropdown.lp_is-expanded
    .lp_dropdown_list
        display             block

    .lp_dropdown_currentItem
        color               $text


.lp_dropdown_list
    background              $background-lightest
    border                  2px solid $border
    border-radius           3px
    display                 none
    left                    50%
    margin-left             -2.5em
    padding                 $fs-05
    position                relative
    top                     $fs-2
    z-index                 $zindex-overlayed_1

    /* upward-pointing arrow */
    .lp_triangle
        border              9px solid $background-lightest
        border-color        transparent transparent $background-lightest transparent
        height              0
        left                -9px
        position            absolute
        top                 -8px
        width               0
        z-index             $zindex-elevated_2
    /* border for upward-pointing arrow */
    .lp_outerTriangle
        border-bottom-color hsl(0, 0%, 77%)
        border-width        10px
        left                50%
        margin-left         -10px
        top                 -20px
        z-index             $zindex-elevated_1


.lp_dropdown_listItem
    display                 block
    line-height             1
    padding                 $fs-05

/**
 * Highlight the selected item and remove all styling that makes it look as if you could interact with it
 */
.lp_dropdown_listItem.lp_is-selected
    color               $text

    &:hover
        color           $text
        cursor          default
