// 'Account' tab in plugin backend

// API credentials -----------------------------------------------------------------------------------------------------
.w1-2
    h3
        font-weight             600
        margin                  1em 0 0.1em

    ul.clearfix
        margin                  1.25em 0 -0.8em

        .background-icon-spacer
            width               84px

    fieldset
        border                  1px solid $border
        border-radius           3px
        box-shadow              1px 1px 0 #fafafa
        margin                  1em 1em 0 0
        min-height              165px
        padding                 0.5em 1em 1em

    legend
        font-size               1rem
        font-weight             600
        margin-left             -0.5em
        padding                 0 0.5em

    .sandbox-credentials,
    .live-credentials
        position                relative

    .sandbox-credentials[data-icon]:before,
    .live-credentials[data-icon]:before
        color                   $border
        position                absolute
        z-index                 -1

    .sandbox-credentials[data-icon]:before
        font-size               90px
        left                    26px
        top                     57px

    .live-credentials[data-icon]:before
        font-size               75px
        left                    15px
        top                     72px

.credentials-hint
    display                     block
    margin                      1em 0


// legal documents viewer ----------------------------------------------------------------------------------------------
#request-live-credentials a
    margin                      0.1em 0 0 1px

#legal-docs-frame
    background-color            #4e5052
    display                     none
    position                    relative

    .close-iframe
        background-color        #666
        border-radius           3px
        box-shadow              1px 1px 3px rgba(0, 0, 0, 0.21)
        color                   #4e5052
        font-size               1.5em
        font-weight             600
        height                  1.5em
        line-height             1.4em
        padding                 0.5em
        position                absolute
        right                   1.667em
        text-align              center
        top                     1em
        width                   1.5em

        &:hover
            background-color    $clickable-highlight


// plugin mode ---------------------------------------------------------------------------------------------------------
#plugin_mode_live_text,
#plugin_mode_test_text
    display                     block


// responsiveness ------------------------------------------------------------------------------------------------------
@media (max-width:1050px)
    .w1-2
        .sandbox-credentials[data-icon]:before
            font-size           75px
            left                24px
            top                 61px

        .live-credentials[data-icon]:before
            font-size           60px
            left                14px
            top                 79px

    .background-icon-spacer
        width                   70px

    input.api-key-input[type=text],
    input.merchant-id-input[type=text]
        width                   290px
