// 'Appearance' tab in plugin backend

// content preview mode ------------------------------------------------------------------------------------------------
.preview-mode-1,
.preview-mode-2
    background-repeat   no-repeat
    height              208px
    margin              0.5em 4em 0 1.75em
    width               300px

.preview-mode-1
    background-image    url(../../img/preview-mode-1.png)

.preview-mode-2
    background-image    url(../../img/preview-mode-2.png)


// invoice indicator code snippet --------------------------------------------------------------------------------------
.invoice-indicator-preview
    float               left
    height              29px
    margin              1em 0 0
    width               110px

.invoice-snippet
    background-color    $background-lightest
    border              1px solid $border-darker
    border-radius       3px
    display             block
    margin              0.75em 0 0 125px
    max-width           540px
    padding             0.75em 1em 0.5em
    position            relative

.triangle
    border              9px solid $background-lightest
    border-color        transparent $background-lightest transparent transparent
    height              0
    left                -8px
    position            absolute
    top                 -9px
    width               0
    z-index             1

.outer-triangle
    border-right-color  #c5c5c5
    border-width        10px
    left                -20px
    top                 7px
    z-index             0
