// 'Get Started' tab in plugin backend

// disabled tabs of other backend pages --------------------------------------------------------------------------------
.lp_nav-tabs li:not(.lp_current)
    opacity                         0.34

    a:hover
        color                       $text-lighter
        cursor                      default


// progress indicator --------------------------------------------------------------------------------------------------
.lp_progress
    margin                          4.5rem 0 2rem

.lp_progress-background
    background                      url(../../img/get-started-steps.png) no-repeat
    height                          4rem
    width                           628px

    .lp_step-1
        left                        2px

    .lp_step-2
        left                        292px

    .lp_step-3
        left                        582px

// checkmarks
.lp_step-todo,
.lp_step-done
    background                      url(../../img/todo.png) no-repeat
    height                          45px
    top                             4px
    width                           45px

.lp_step-done
    background-image                url(../../img/done.png)


// setup steps ---------------------------------------------------------------------------------------------------------
.lp_setup-steps
    .lp_setup-step
        background-color            $background-darker
        -moz-box-sizing             border-box
             box-sizing             border-box
        height                      6.5em
        line-height                 6.75em

        &:before
            background              url(../../img/get-started-arrowhead.png) 100% 50% no-repeat
            content                 ''
            height                  6.5em
            position                absolute
            right                   0
            top                     0
            width                   6.5em

        .lp_input
            border-color            hsl(0, 0%, 87%)

    // Sandbox Merchant ID and Sandbox API Key
    .lp_step-1
        border-radius               4px 0 0 4px
        line-height                 3em
        padding-left                4px

        .lp_input-icon + input[type=text][required] + label[placeholder]:before
            margin                  1.15em 0 0 3.1em

        .lp_api-key-input,
        .lp_merchant-id-input
            margin                  0 0 0 $fs-025
            max-width               91%
            padding                 $fs-05 $fs-05 $fs-05 2.75em
            width                   21.5em

        .lp_merchant-id-input
            margin-top              $fs-05

        .lp_input-icon
            margin                  0.15em 0 0 0.5em

        .lp_api-key-icon
            margin-top              0.05em

    // global default price and default currency
    .lp_step-2
        padding                     0 2.5em 0 0.5em

        p
            line-height             6.75em

        .lp_number-input
            border-radius           4px 0 0 4px
            padding                 $fs-05

        select
            border-radius           0 4px 4px 0
            margin-left             -5px
            padding                 0.25em
            top                     -2px

    // 'activate in test mode' button
    .lp_step-3
        &:before
            background              url(../../img/get-started-arrowhead-last.png) 100% 50% no-repeat

        .button
            height                  3em
            line-height             3em
            vertical-align          inherit


// explanatory texts for setup steps -----------------------------------------------------------------------------------
.lp_setup-step + p,
.lp_setup-step + p + p
    color                           $text-lighter
    margin                          0 0 $fs-1
    padding                         $fs-15 $fs-2 0 0
    text-align                      center


// responsiveness ------------------------------------------------------------------------------------------------------
@media (max-width:1279px)
    .lp_setup-steps lp_step-2 p
        line-height                 2em
        padding-top                 0.95em
