// 'Get Started' tab in plugin backend

// disabled tabs of other pages ----------------------------------------------------------------------------------------
.tabs.getstarted li:not(.current)
    opacity                         0.34

    a:hover
        color                       $text-lighter
        cursor                      default


// progress indicator --------------------------------------------------------------------------------------------------
.steps-progress
    margin                          4.5rem 0 2rem
    text-align                      center

// background
.progress-line
    background-image                url(../../img/get-started-steps.png)
    background-repeat               no-repeat
    display                         inline-block
    height                          4rem
    position                        relative
    width                           628px

// checkmarks
.todo,
.done
    background-image                url(../../img/todo.png)
    background-repeat               no-repeat
    display                         block
    height                          45px
    position                        absolute
    top                             4px
    width                           45px

.done
    background-image                url(../../img/done.png)

.st-1
    left                            2px
.st-2
    left                            292px
.st-3
    left                            582px


// setup steps ---------------------------------------------------------------------------------------------------------
.step-row li
    float                           left
    width                           33%

    .progress-step
        background-color            $background-darker
        -moz-box-sizing             border-box
             box-sizing             border-box
        height                      6.5em
        line-height                 6.75em
        padding                     0 2em 0 0
        position                    relative

        &:before
            background-image        url(../../img/get-started-arrowhead.png)
            background-position     100% 50%
            background-repeat       no-repeat
            content                 ''
            height                  6.5em
            position                absolute
            right                   0
            top                     0
            width                   6.5em

        input
            border-color            #d5d5d5
            margin                  0 0 0 0.25em
            padding                 0.5em

        select
            border-color            #d5d5d5
            padding                 0.25em
            position                relative
            top                     -2px

        .centered
            line-height             6.75em
            margin                  0
            position                relative
            text-align              center

    // Sandbox Merchant ID and Sandbox API Key
    .first.progress-step
        border-radius               4px 0 0 4px
        line-height                 3em
        padding-left                4px

        label[placeholder]:before
            margin                  1.15em 0 0 3.1em

        .lp_api-key-input,
        .lp_merchant-id-input
            max-width               91%
            padding-left            2.75em
            width                   21.5em

        .lp_merchant-id-input
            margin-top              0.5em

        .input-icon
            margin                  0.15em 0 0 0.5em

            .api-key-icon
                margin-top          0.05em

    // global default price and default currency
    .middle.progress-step
        padding                     0 2.5em 0 0.5em

        .nowrap
            white-space             nowrap

        #global-default-price
            border-radius           4px 0 0 4px

        select
            border-radius           0 4px 4px 0
            margin-left             -5px

    // 'activate in test mode' button
    .last.progress-step
        text-align                  center

        &:before
            background-image        url(../../img/get-started-arrowhead-last.png)
            background-position     100% 50%
            background-repeat       no-repeat

        .activate-lp
            font-weight             600
            height                  3em
            line-height             3em
            padding                 0 1em
            position                relative
            vertical-align          inherit


// explanatory texts for setup steps -----------------------------------------------------------------------------------
.progress-step + p,
.progress-step + p + p
    color                           $text-lighter
    margin                          0 0 1em
    padding                         1.5em 2em 0 0
    text-align                      center

.progress-step + p + p
    padding-top                     0


// responsiveness ------------------------------------------------------------------------------------------------------
@media (max-width:1320px)
    .step-row li .progress-step.middle .centered
        line-height                 2em
        padding-top                 0.95em

@media (max-width:1279px)
    .step-row li .progress-step.middle .centered
        line-height                 2em
        padding-top                 0.95em
