// view post page in WordPress frontend

.clearfix:after {clear:both; content:' '; display:block; font-size:0; height:0; visibility:hidden;}


// content preview mode 2: teaser + excerpt from actual content, covered by overlay ------------------------------------
.laterpay-paid-content {bottom:1em; margin-bottom:5em; min-height:400px; position:relative; top:0;}
.laterpay-overlay {
    background-color:#000 !important;
    height:100%;
    left:0;
    opacity:.89;
    position:fixed;
    top:0;
    width:100%;
    z-index:999998;
}
.laterpay-paid-content .laterpay-overlay-text {
    background-color:rgba(255, 255, 255, 0.89);
    height:100%;
    left:0;
    position:absolute;
    top:0;
    width:100%;
}

.laterpay-full-content {color:transparent; padding:.25em; text-shadow:0 0 4px #000;}

.laterpay-overlay-text .laterpay-benefits {
    background-clip:padding-box !important;
    background:#e5e5e5 !important;
    background:-webkit-radial-gradient(center, ellipse, #fcfcfc 34%, #e1e1e1 89%) !important;
    background:radial-gradient(ellipse at center, #fcfcfc 34%, #e1e1e1 89%) !important;
    border-radius:5px !important;
    box-shadow:1px 1px 4px rgba(0, 0, 0, 0.55) !important;
    font:normal normal 14px/1.3 Arial, sans-serif !important;
    margin:1em auto !important;
    max-width:480px !important;
    padding:0 !important;
    position:relative !important;
}
.laterpay-overlay-text .laterpay-benefits header {
    background:#4dac64 url(../../img/benefits-header.png) 50% 50% / 100% no-repeat;
    border-radius:5px 5px 0 0 !important;
    left:0 !important;
    padding:1.5em 0 !important;
    position:relative !important;
    right:0 !important;
    top:0 !important;
}
.laterpay-overlay-text .laterpay-benefits h2 {
    color:#fff !important;
    font-size:28px !important;
    font-weight:lighter !important;
    line-height:1.05 !important;
    margin:0 !important;
    overflow:hidden;
    text-align:center !important;
}
.laterpay-overlay-text .laterpay-benefits h2 span {
    color:#fff !important;
    display:block !important;
    font-size:200px !important;
    height:42px !important;
    line-height:0 !important;
    position:relative !important;
    text-align:center !important;
    top:-84px !important;
}
.laterpay-benefits ul {margin:.5em 1em 0 !important; padding:0 !important;}
.laterpay-benefits li {
    background:url(../img/laterpay-icon-buy.svg) 6px 0 no-repeat !important;
    background-size:61px !important;
    list-style:none !important;
    margin:0 !important;
    padding:0 0 0 80px !important;
}
.laterpay-benefits svg.laterpay-teaser-overlay-icons {fill:#4dac64;}
.laterpay-benefits li.laterpay-buy-now {background-image:url(../img/laterpay-icon-buy.svg) !important;}
.laterpay-benefits li.laterpay-use-immediately {background-image:url(../img/laterpay-icon-read.svg) !important;}
.laterpay-benefits li.laterpay-pay-later {background-image:url(../img/laterpay-icon-pay.svg) !important;}
.laterpay-overlay-text .laterpay-benefits h3 {
    color:#4dac64 !important;
    font-size:1.25em !important;
    font-style:normal !important;
    font-weight:bold !important;
    line-height:1.3 !important;
    margin:1.25em 0 0.1em !important;
}
.laterpay-benefits li p {color:#888 !important; line-height:1.3 !important; margin:0 !important;}
.laterpay-benefits .laterpay-purchase-button {
    display:inline-block !important;
    float:none !important;
    margin-left:6em !important;
    margin-top:1em !important;
}
.laterpay-benefits .powered-by {
    color:#bbb !important;
    font-size:16px !important;
    left:50% !important;
    margin:-1.5em 0 0 -7em !important;
    position:absolute !important;
}
.laterpay-benefits .powered-by span[data-icon]:before {
    color:#c5c5c5 !important;
    font-size:6em !important;
    line-height:0 !important;
    padding-left:.05em !important;
    position:relative !important;
    top:.43em !important;
}

/* Chrome browser hacks */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .laterpay-benefits .powered-by {margin-top:1.5em;}
    .laterpay-benefits .powered-by span[data-icon]:before {top:.08em;}
}


// shortcodes for linked premium files in free to read posts -----------------------------------------------------------
.laterpay-premium-file-link {
    background:#e5e5e5 url(../img/premium-text.png) 50% 50% / cover no-repeat !important;
    border-radius:3px !important;
    box-shadow:1px 1px 2px rgba(0, 0, 0, 0.34) !important;
    height:300px !important;
    margin:0 10px 20px 10px !important;
    position:relative !important;
    width:300px !important;
}
.laterpay-premium-file-link.text         {background-image:url(../img/premium-text.png) !important;}
.laterpay-premium-file-link.music        {background-image:url(../img/premium-music.png) !important;}
.laterpay-premium-file-link.video        {background-image:url(../img/premium-video.png) !important;}
.laterpay-premium-file-link.gallery      {background-image:url(../img/premium-gallery.png) !important;}
.laterpay-premium-file-link.file         {background-image:url(../img/premium-download.png) !important;}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
     /* serve retina images for hires displays */
     .laterpay-premium-file-link.text    {background-image:url(../img/premium-text_2x.png) !important;}
     .laterpay-premium-file-link.music   {background-image:url(../img/premium-music_2x.png) !important;}
     .laterpay-premium-file-link.video   {background-image:url(../img/premium-video_2x.png) !important;}
     .laterpay-premium-file-link.gallery {background-image:url(../img/premium-gallery_2x.png) !important;}
     .laterpay-premium-file-link.file    {background-image:url(../img/premium-download_2x.png) !important;}
}

.laterpay-premium-file-button {
    background:#54cc76 !important;
    background:-webkit-linear-gradient(top, #54cc76 0, #4fc270 100%) !important;
    background:linear-gradient(to bottom, #54cc76 0, #4fc270 100%) !important;
    border:1px solid #20947a !important;
    border-color:#1c8069 #20947a !important;
    border-radius:4px !important;
    border-width:0 1px 2px 0 !important;
    font-family:Arial, sans-serif;
    font-size:21px !important;
    font-weight:400 !important;
    line-height:1.1 !important;
    margin:0 !important;
    padding:.15em 0.25em 0.15em 0 !important;
    position:absolute;
    right:.45em;
    text-decoration:none !important;
    text-shadow:0 -1px 0 #22a280 !important;
    top:.5em;
    white-space:nowrap !important;
}
.laterpay-premium-file-button[data-icon]:before {
    font-size:1.8em !important;
    left:-2px !important;
    line-height:0 !important;
    margin:0 !important;
    position:relative !important;
    top:.32em !important;
}
.laterpay-premium-file-button small {
    bottom:.7em !important;
    font-size:.5em !important;
    padding-left:4px !important;
    position:relative !important;
}
.laterpay-premium-file-button,
.laterpay-premium-file-button small,
.laterpay-premium-file-button:hover,
.laterpay-premium-file-button:focus,
.laterpay-premium-file-button:active {color:#fff !important; text-decoration:none !important;}
.laterpay-premium-file-button:hover {
    background:#58d67c !important;
    background:-webkit-linear-gradient(top, #58d67c 0, #54cc76 100%) !important;
    background:linear-gradient(to bottom, #58d67c 0, #54cc76 100%) !important;
}
.laterpay-premium-file-button:focus,
.laterpay-premium-file-button:active {
    background:#58d67c !important;
    background:-webkit-linear-gradient(top, #58d67c 0, #54cc76 100%) !important;
    background:linear-gradient(to bottom, #58d67c 0, #54cc76 100%) !important;
    border-top-color:transparent !important;
    border-width:2px 1px 0 0 !important;
}
.laterpay-premium-file-link .details {
    background-color:rgba(229, 229, 229, 0.89);
    border-radius:0 0 2px 2px;
    bottom:0;
    color:#888;
    font-size:14px;
    font-style:normal;
    line-height:1.2;
    padding:10px;
    position:absolute;
    width:280px;
}
.laterpay-premium-file-link .details h3 {
    color:#555;
    font-size:14px;
    font-weight:600;
    margin:0;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.laterpay-premium-file-link p {margin:.375em 0 0; max-height:3.6em; overflow:hidden; text-overflow:ellipsis;}

.laterpay-premium-file-link-wrapper .laterpay-premium-file-link {float:left !important;}

.laterpay-shortcode-error {background-color:#e66262; border-radius:3px; color:#fff; margin:1em 2em; padding:.5em 1em;}


// responsiveness ------------------------------------------------------------------------------------------------------
@media (max-width:567px)
    .laterpay-overlay-text .laterpay-benefits
        h2
            font-size               24px !important

        ul
            margin                  0 0.5em !important

        li br
            display                 none
