// view post page in WordPress frontend


// content preview mode 2: teaser + excerpt from actual content, covered by overlay ------------------------------------
.laterpay-paid-content
    bottom                          1em
    margin-bottom                   5em
    min-height                      400px
    position                        relative
    top                             0

    // obfuscate excerpt of full post content by making it look blurred
    .laterpay-full-content
        color                       transparent
        padding                     0.25em
        text-shadow                 0 0 4px #000

    .laterpay-overlay-text
        background-color            rgba(255, 255, 255, 0.89)
        height                      100%
        left                        0
        position                    absolute
        top                         0
        width                       100%

        // modal-like box describing the benefits of LaterPay
        .laterpay-benefits
            background-clip         padding-box                                                     !important
            background              #e5e5e5                                                         !important
            background              -webkit-radial-gradient(center, ellipse, #fcfcfc 34%, #e1e1e1 89%) !important
            background              radial-gradient(ellipse at center, #fcfcfc 34%, #e1e1e1 89%)    !important
            border-radius           5px                                                             !important
            box-shadow              1px 1px 4px rgba(0, 0, 0, 0.55)                                 !important
            font-family             Arial, sans-serif                                               !important
            font-size               14px                                                            !important
            font-style              normal                                                          !important
            font-weight             normal                                                          !important
            line-height             1.3                                                             !important
            margin                  1em auto                                                        !important
            max-width               480px                                                           !important
            padding                 0                                                               !important
            position                relative                                                        !important

            header
                background:         #4dac64 url(../../img/benefits-header.png) 50% 50% / 100% no-repeat;
                border-radius       5px 5px 0 0                                                     !important
                left                0                                                               !important
                padding             1.5em 0                                                         !important
                position            relative                                                        !important
                right               0                                                               !important
                top                 0                                                               !important

                h2
                    color               $text-inverse                                               !important
                    font-size           28px                                                        !important
                    font-weight         lighter                                                     !important
                    line-height         1.05                                                        !important
                    margin              0                                                           !important
                    overflow            hidden                                                      !important
                    text-align          center                                                      !important

                // LaterPay logo
                h2 span
                    color               $text-inverse                                               !important
                    display             block                                                       !important
                    font-size           200px                                                       !important
                    height              42px                                                        !important
                    line-height         0                                                           !important
                    position            relative                                                    !important
                    text-align          center                                                      !important
                    top                 -84px                                                       !important

            ul
                margin              0.5em 1em 0                                                     !important
                padding             0                                                               !important

            li
                background          url(../img/laterpay-icon-buy.svg) 6px 0 no-repeat               !important
                background-size     61px                                                            !important
                list-style          none                                                            !important
                margin              0                                                               !important
                padding             0 0 0 80px                                                      !important

                h3
                    color           #4dac64                                                         !important
                    font-size       1.25em                                                          !important
                    font-style      normal                                                          !important
                    font-weight     bold                                                            !important
                    line-height     1.3                                                             !important
                    margin          1.25em 0 0.1em                                                  !important

                p
                    color           #888                                                            !important
                    line-height     1.3                                                             !important
                    margin          0                                                               !important

            li.laterpay-buy-now
                background-image    url(../img/laterpay-icon-buy.svg)                               !important

            li.laterpay-use-immediately
                background-image    url(../img/laterpay-icon-read.svg)                              !important

            li.laterpay-pay-later
                background-image    url(../img/laterpay-icon-pay.svg)                               !important

            svg.laterpay-teaser-overlay-icons
                fill                #4dac64

            .lp_purchase-link.lp_button
                display             inline-block                                                    !important
                float               none                                                            !important
                margin-left         6em                                                             !important
                margin-top          1em                                                             !important

            .powered-by
                color               #bbb                                                            !important
                font-size           16px                                                            !important
                left                50%                                                             !important
                margin              -1.5em 0 0 -7em                                                 !important
                position            absolute                                                        !important

                span[data-icon]:before
                    color           #c5c5c5                                                         !important
                    font-size       6em                                                             !important
                    line-height     0                                                               !important
                    padding-left    0.05em                                                          !important
                    position        relative                                                        !important
                    top             0.43em                                                          !important


// Chrome browser hacks
@media screen and (-webkit-min-device-pixel-ratio:0)
    .laterpay-benefits .powered-by
        margin-top                  1.5em

        span[data-icon]:before
            top                     0.08em



// shortcodes for linked premium files in free to read posts -----------------------------------------------------------
.laterpay-premium-file-link
    background                      #e5e5e5 url(../img/premium-text.png) 50% 50% no-repeat          !important
    background-size                 cover                                                           !important
    border-radius                   3px                                                             !important
    box-shadow                      1px 1px 2px rgba(0, 0, 0, 0.34)                                 !important
    height                          300px                                                           !important
    margin                          0 10px 20px 10px                                                !important
    position                        relative                                                        !important
    width                           300px                                                           !important

.laterpay-premium-file-link.text
    background-image                url(../img/premium-text.png)                                    !important

.laterpay-premium-file-link.music
    background-image                url(../img/premium-music.png)                                   !important

.laterpay-premium-file-link.video
    background-image                url(../img/premium-video.png)                                   !important

.laterpay-premium-file-link.gallery
    background-image                url(../img/premium-gallery.png)                                 !important

.laterpay-premium-file-link.file
    background-image                url(../img/premium-download.png)                                !important

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
    // serve retina images for hires displays
    .laterpay-premium-file-link.text
        background-image            url(../img/premium-text_2x.png)                                 !important
    .laterpay-premium-file-link.music
        background-image            url(../img/premium-music_2x.png)                                !important
    .laterpay-premium-file-link.video
        background-image            url(../img/premium-video_2x.png)                                !important
    .laterpay-premium-file-link.gallery
        background-image            url(../img/premium-gallery_2x.png)                              !important
    .laterpay-premium-file-link.file
        background-image            url(../img/premium-download_2x.png)                             !important

.laterpay-premium-file-button
    background                      $background-laterpay                                            !important
    background                      -webkit-linear-gradient(top, $background-laterpay 0, $background-laterpay-darker 100%)  !important
    background                      linear-gradient(to bottom, $background-laterpay 0, $background-laterpay-darker 100%)    !important
    border                          1px solid #20947a                                               !important
    border-color                    #1c8069 #20947a                                                 !important
    border-radius                   4px                                                             !important
    border-width                    0 1px 2px 0                                                     !important
    color                           $text-inverse                                                   !important
    font-family                     Arial, sans-serif                                               !important
    font-size                       21px                                                            !important
    font-weight                     400                                                             !important
    line-height                     1.1                                                             !important
    margin                          0                                                               !important
    padding                         0.15em 0.25em 0.15em 0                                          !important
    position                        absolute                                                        !important
    right                           0.45em                                                          !important
    text-decoration                 none                                                            !important
    text-shadow                     0 -1px 0 #22a280                                                !important
    top                             0.5em                                                           !important
    white-space                     nowrap                                                          !important

    small,
    &:hover,
    &:focus,
    &:active
        color                       $text-inverse                                                   !important
        text-decoration             none                                                            !important

    &:hover
        background                  $background-laterpay-highlight                                  !important
        background                  -webkit-linear-gradient(top, $background-laterpay-highlight 0, $background-laterpay 100%) !important
        background                  linear-gradient(to bottom, $background-laterpay-highlight 0, $background-laterpay 100%)   !important

    &:focus,
    &:active
        background                  $background-laterpay-highlight                                  !important
        background                  -webkit-linear-gradient(top, $background-laterpay-highlight 0, $background-laterpay 100%) !important
        background                  linear-gradient(to bottom, $background-laterpay-highlight 0, $background-laterpay 100%)   !important
        border-top-color            transparent                                                     !important
        border-width                2px 1px 0 0                                                     !important

    small
        bottom                      0.7em                                                           !important
        font-size                   0.5em                                                           !important
        padding-left                4px                                                             !important
        position                    relative                                                        !important

    .laterpay-premium-file-button[data-icon]:before
    font-size                       1.8em                                                           !important
    left                            -2px                                                            !important
    line-height                     0                                                               !important
    margin                          0                                                               !important
    position                        relative                                                        !important
    top                             0.32em                                                          !important

.laterpay-premium-file-link
    .details
    background-color                rgba(229, 229, 229, 0.89)                                       !important
    border-radius                   0 0 2px 2px                                                     !important
    bottom                          0                                                               !important
    color                           #888                                                            !important
    font-size                       14px                                                            !important
    font-style                      normal                                                          !important
    line-height                     1.2                                                             !important
    padding                         10px                                                            !important
    position                        absolute                                                        !important
    width                           280px                                                           !important

        h3
            color                   $text                                                           !important
            font-size               14px                                                            !important
            font-weight             600                                                             !important
            margin                  0                                                               !important
            overflow                hidden                                                          !important
            text-overflow           ellipsis                                                        !important
            white-space             nowrap                                                          !important

    p
        margin                      0.375em 0 0                                                     !important
        max-height                  3.6em                                                           !important
        overflow                    hidden                                                          !important
        text-overflow               ellipsis                                                        !important

.laterpay-premium-file-link-wrapper .laterpay-premium-file-link
    float                           left                                                            !important

// error messages displayed instead of broken shortcodes
.laterpay-shortcode-error
    background-color                #e66262
    border-radius                   3px
    color                           $text-inverse
    margin                          1em 2em
    padding                         0.5em 1em


// responsiveness ------------------------------------------------------------------------------------------------------
@media (max-width:567px)
    .laterpay-overlay-text .laterpay-benefits
        h2
            font-size               24px !important

        ul
            margin                  0 0.5em !important

        li br
            display                 none
