// 'Pricing' tab in plugin backend

// price type sections -------------------------------------------------------------------------------------------------
ul.lp_row li:nth-child(1) h2 + hr
    border-top-color        #d3d3d3

ul.lp_row li:nth-child(2) h2 + hr
    border-top-color        #a6a6a6

ul.lp_row li:nth-child(3) h2 + hr
    border-top-color        #757575

.lp_spacer
    height                  2.4em


// global default price ------------------------------------------------------------------------------------------------
#lp_global-price-form.editing p
    margin-top              $fs-05


// category default prices ---------------------------------------------------------------------------------------------
#lp_category-prices
    p
        margin              $fs-1 0 0

    .lp_category-price-form
        p
            margin-top      $fs-025

        .editing p
            margin          -0.1em 0

.select2-container,
.select2-drop,
.select2-search,
.select2-search input
    margin-bottom           32px
    width                   10rem

.lp_category-title
    min-width               8.75em


// responsiveness ------------------------------------------------------------------------------------------------------
@media (max-width:1279px)
    .lp_edit-link
        margin-left        $fs-05

    ul.lp_row li:nth-child(3) br
        display            none
