// 'Pricing' tab in plugin backend

// price type sections -------------------------------------------------------------------------------------------------
.pr-type1,
.pr-type2,
.pr-type3
    margin                  0 1rem 0 0

h2 + hr
    border-top              2px solid #d3d3d3
    margin                  0.5rem 0 0.25rem

.pr-type1 hr
    border-top-color        #d3d3d3
.pr-type2 hr
    border-top-color        #a6a6a6
.pr-type3 hr
    border-top-color        #757575

dfn.spacer {
    display                 block
    height                  2.4em


// global default price ------------------------------------------------------------------------------------------------
#global-price-form.editing p
    margin-top              0.5em


// category default prices ---------------------------------------------------------------------------------------------
#category-prices
    p
        margin              1em 0 0

    .category-price-form
        p
            margin-top      0.25em

        .editing p
            margin          -0.1em 0

.select2-container,
.select2-drop,
.select2-search,
.select2-search input
    margin-bottom           32px
    width                   10rem

.category-title
    display                 inline-block
    min-width               8.75em

#add_category_button
    display                 block


// responsiveness ------------------------------------------------------------------------------------------------------
@media (max-width:1279px) {
    .edit-link
        margin-left        0.5em

    .pr-type3 br
        display            none
}
