// Loaded on view post pages

@charset "UTF-8";

@import 'objects/_variables'
@import 'objects/_polyfills'
@import 'objects/_tags'
@import 'objects/_utilities'
@import 'objects/_vector_icons'

@import 'components/_toggle'
@import 'components/_rating'
@import 'components/_post_statistics'
@import 'components/_purchase_button'
@import 'components/_dialogs_iframe'
@import 'components/_time_pass'

@import 'pages/_post_view'


// override a few default settings of the toggle
.lp_toggle label.lp_toggle_label {
    width:                  4em;

    .lp_toggle_input:checked ~ .lp_toggle_text {
        background-color:   hsl(0, 0%, 80%);
    }
}
