// Loaded on backend pages of LaterPay plugin

@charset "UTF-8";

@import 'objects/_variables'
@import 'objects/_polyfills'
@import 'objects/_tags'
@import 'objects/_utilities'
@import 'objects/_forms'
@import 'objects/_vector_icons'
@import 'objects/_tooltips'
@import 'objects/_spinner'
@import 'objects/_dropdown'
@import 'objects/_backend_layout'

@import 'components/_toggle'
@import 'components/_legal_docs_viewer'
@import 'components/_purchase_button'
@import 'components/_time_pass'

@import 'pages/_dashboard'
@import 'pages/_pricing'
@import 'pages/_appearance'
@import 'pages/_account'


// temporary style
.lp_is-beta {
    color:          red;
    font-weight:    400;
}
