// Loaded on view post pages

@charset "UTF-8";

@import 'modules/variables'
@import 'modules/polyfills'
@import 'modules/tags'          // FIXME: tags in tags.styl are currently prefixed in .lp_pagewrap
@import 'modules/utilities'
@import 'modules/vector_icons'

@import 'widgets/toggle'
@import 'widgets/post_statistics'
@import 'widgets/purchase_button'
@import 'widgets/dialogs_iframe'

@import 'pages/post_view'


// override a few default settings of the toggle
.lp-toggle label.lp-toggle-label
    width                   4em

    .lp-toggle-input:checked ~ .lp-toggle-text
        background-color    hsl(0, 0%, 80%)
