// Loaded on view post pages

@charset "UTF-8";

@import 'modules/variables'
@import 'modules/polyfills'
@import 'modules/tags'          // FIXME: tags in tags.styl are currently prefixed in .lp_pagewrap
@import 'modules/utilities'
@import 'modules/vector_icons'

@import 'widgets/toggle'
@import 'widgets/rating'
@import 'widgets/post_statistics'
@import 'widgets/purchase_button'
@import 'widgets/dialogs_iframe'
@import 'widgets/time_pass'

@import 'pages/post_view'


// override a few default settings of the toggle
.lp_toggle label.lp_toggle_label
    width                   4em

    .lp_toggle_input:checked ~ .lp_toggle_text
        background-color    hsl(0, 0%, 80%)
