// Loaded in WordPress admin section

@charset "UTF-8";

@import 'objects/_variables'
@import 'objects/_vector_icons'


// display the LaterPay logo from the LaterPay icon font in the admin menu
// WordPress selector
#adminmenu div.wp-menu-image.dashicons-laterpay-logo:before {
    content:            'b'                         !important;
    font-family:        laterpay-wordpress-icons    !important;
    font-size:          33px                        !important;
    font-weight:        400                         !important;
    line-height:        0.6                         !important;
    left:               -5px                        !important;
    position:           relative                    !important;
}

// style custom columns in posts table
// WordPress selector
.column-post_price {
    text-align:         right;
    width:              75px;

    span {
        color:          $text-lighter;
    }
}
