// Loaded on backend pages of LaterPay plugin

@charset "UTF-8";

@import 'modules/variables'
@import 'modules/polyfills'
@import 'modules/tags'
@import 'modules/utilities'
@import 'modules/forms'
@import 'modules/vector_icons'
@import 'modules/backend_layout'

@import 'widgets/toggle'
@import 'widgets/legal_docs_viewer'

@import 'pages/pricing'
@import 'pages/appearance'
@import 'pages/account'
