// LaterPay account links iframe
// Loaded into the iframe served by LaterPay to style the contained account-related links


// general -------------------------------------------------------------------------------------------------------------
// wrapper around all elements in the iframe
#maincontainer {
    // add styling as desired
}

// class for all containers (#actioncontainer, #greetingcontainer, #signupcontainer)
.container {
    // add styling as desired
}

// class for all links (#loginlink, #logoutlink, #signuplink)
.actionlink {
    // add styling as desired
}


// login or logout link (show="l") -------------------------------------------------------------------------------------
#actioncontainer {
    // add styling as desired

    #action {
        // add styling as desired

        #loginlink {
            // add styling as desired
        }

        #logoutlink {
            // add styling as desired
        }
    }
}

#separator {
    // add styling as desired
}


// greeting + login state (show="g" or show="gg") ----------------------------------------------------------------------
#greetingcontainer {
    // add styling as desired

    #greeting {
        // add styling as desired

        #action {
            // add styling as desired

            #logoutlink {
                // add styling as desired
            }
        }
    }
}


// register link -------------------------------------------------------------------------------------------------------
#signupcontainer {
    // add styling as desired

    #signup {
        // add styling as desired

        #signuplink {
            // add styling as desired
        }
    }
}


// login + register link (show="ls") -----------------------------------------------------------------------------------
#separator {
    // add styling as desired
}
