// dynamic pricing widget for defining a price curve using a d3.js widget

// common properties ---------------------------------------------------------------------------------------------------
.lp_dynamic-pricing text {
    user-select: none;
}


// container -----------------------------------------------------------------------------------------------------------
.lp_dynamic-pricing {
    height: 225px;
    width: 254px;
}


// graph area ----------------------------------------------------------------------------------------------------------
.lp_dynamic-pricing__graph-background {
    fill: hsl(0, 0%, 95%);
}


// axes ----------------------------------------------------------------------------------------------------------------
.lp_dynamic-pricing__axis .domain {    // TODO: fix class structure; .lp_dynamic-pricing__axis .domain should be .lp_dynamic-pricing__axis-line
    stroke: hsl(0, 0%, 67%);
    stroke-dasharray: none;
    stroke-width: 1.5px;
}
.lp_dynamic-pricing__axis-arrowhead {
    fill: hsl(0, 0%, 67%);
}

.lp_dynamic-pricing__grid-line {
    stroke: hsl(0, 0%, 67%);
    stroke-width: 0.1px;
}
.lp_dynamic-pricing__grid-line-label {
    display: none;
}


// price curve ---------------------------------------------------------------------------------------------------------
.lp_dynamic-pricing__price-curve {
    opacity: 1;//0.01;
    stroke: $background-laterpay;
    stroke-width: 8px;

    &.lp_is-hidden {
        display: none;
    }
}
    // FIXME: legacy style to style the price curve in the old version
    .line {
        fill: none;
        stroke: red;
        stroke-width: 3px;
    }

.lp_dynamic-pricing__price-curve-point {
    fill: hsl(0, 0%, 13%);
    stroke: hsl(0, 0%, 95%);
    stroke-width: 2px;
    transition: all 0.5s;

    &.lp_is-hidden {
        display: none;
    }
}


// graph markers -------------------------------------------------------------------------------------------------------
/*
 * 1. hide vertical lines for maximum x-axis value, because it just has to be inserted as a technical workaround
 */
.lp_dynamic-pricing__x-axis-marker {
    stroke: hsl(0, 0%, 33%);
    stroke-dasharray: 5;
    stroke-width: 1px;

    &.lp_is-hidden {
        display: none; /* 1 */
    }
}

.lp_dynamic-pricing__current-price-marker {
    stroke: $background-laterpay;
    stroke-width: 1.5px;
}

.lp_dynamic-pricing__default-price-marker {
    stroke: hsl(0, 0%, 67%);
    stroke-width: 1px;
}
.lp_dynamic-pricing__default-price-label-background {
    fill: hsl(0, 0%, 95%);
}
.lp_dynamic-pricing__default-price-label {
    fill: hsl(0, 0%, 67%);
    font-size: 9px;
}


// handles for editing the price curve ---------------------------------------------------------------------------------
.lp_dynamic-pricing__start-price-handle,
.lp_dynamic-pricing__start-price-handle-triangle,
.lp_dynamic-pricing__end-price-handle,
.lp_dynamic-pricing__end-price-handle-triangle,
.lp_dynamic-pricing__price-change-days-handle,
.lp_dynamic-pricing__price-change-days-handle-triangle {
    fill: $clickable;
}

/*
 * 1. show vertical resize cursor over price handles
 */
.lp_dynamic-pricing__start-price-handle,
.lp_dynamic-pricing__start-price-value,
.lp_dynamic-pricing__start-price-currency,
.lp_dynamic-pricing__end-price-handle,
.lp_dynamic-pricing__end-price-value,
.lp_dynamic-pricing__end-price-currency {
    cursor: row-resize; /* 1 */
}

.lp_dynamic-pricing__handle-text {
    fill: #fff;
}

.lp_dynamic-pricing__start-price-value,
.lp_dynamic-pricing__end-price-value,
.lp_dynamic-pricing__price-change-days-value {
    font-size: 12px;
    font-weight: bold;
}

.lp_dynamic-pricing__handle-unit {
    font-size: 9px;
    font-weight: normal;
}

.lp_dynamic-pricing__start-price-input,
.lp_dynamic-pricing__end-price-input {
    background: #fff;
    border: 2px solid $border;
    border-radius: 3px;
    font-size: 12px;
    padding: 2px;
    width: 100%;
}

/*
 * 1. show horizontal resize cursor over price change days handles
 */
.lp_dynamic-pricing__price-change-days-handle,
.lp_dynamic-pricing__price-change-days-handle-triangle,
.lp_dynamic-pricing__price-change-days-value,
.lp_dynamic-pricing__price-change-days-unit {
    cursor: col-resize; /* 1 */
}

/*
 * 1. hide handle for maximum x-axis value, because it just has to be inserted as a technical workaround
 */
.lp_dynamic-pricing__price-change-days-handle,
.lp_dynamic-pricing__price-change-days-handle-triangle,
.lp_dynamic-pricing__price-change-days-value,
.lp_dynamic-pricing__handle-unit {
    &.lp_is-hidden {
        display: none; /* 1 */
    }
}
