.wp-block-laterpay-sub-pass-purchase-button {
	.lp_purchase-overlay {
		&__purchase {
			background: $purchase-button-background;
			border-radius: $border-radius !important;
			box-shadow: none !important;
			color: $purchase-button-text;
			display: inline-block !important;
			font-size: 24px !important;
			line-height: 2 !important;
			padding: 0 $fs !important;
			text-decoration: none !important;

			& span:before {
				font-size: 25px !important;
				line-height: 0 !important;
				padding: 0 5px 0 0 !important;
			}
		}
	}
}
